<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
     <thead>
          <tr class="hbg">
            <td><span class="sort_u">时间</span></td>
            <td>情况描述</td>
            <td>处理状态</td>
            <td>处理结果</td>
            <td>理由</td>
          </tr>
      </thead>
      <tbody>
        <% @violations.each do |violation| %>
          <tr>
            <td><%= violation.created_at.strftime("%Y.%m.%d") %></td>
            <td><%= violation.mark %></td>
            <td>
              <% if violation.status.nil? %>
                <%= link_to "处理", "javascript:void(0)", :class => "process_violation", :id => violation.id, :name => @store.id %>
              <% else %>
                <%= violation.status %>
              <% end %>
            </td>
            <td><%= ViolationReward::N_VIOLATE[violation.process_types] %></td>
            <td><%= violation.situation %></td>
          </tr>
        <% end %>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
      </tbody>
</table>
<%= will_paginate @violations, :class => "pageTurn", :previous_label => "上一页",
    :next_label => "下一页" %>