<div class="main">
    <div class="box">
         <div class="data_box">
              <div class="way_menu"><%= link_to "员工一览", store_staffs_path(@store) %> &gt; 员工详情</div>
              <div class="data_body_title">
                   <div class="data_body_p">
                     <span>姓名：<%= @staff.name %></span>
                     <span>岗位：<%= @staff.type_of_w %></span>
                     <span>等级职称：<%= @staff.level %></span>
                     <span>职务：<%= @staff.position %></span>
                     <a href="#">详情</a></div>
              </div>
              <div class="clear"></div>
              <div class="tab_head">
                   <ul>
                      <li class="hover">工作记录</li>
                      <li>绩效记录</li>
                      <li>培训记录</li>
                      <li>奖励记录</li>
                      <li>违规记录</li>
                      <li>工资记录</li>
                   </ul>
              </div>
              <div class="data_body">
                   <div>
                        <div class="search">
                             <div><label>时间：</label><input name="" type="text"> 到 <input name="" type="text"></div>
                             <div><label>统计方式：<input name="" type="radio" value="">日&nbsp;&nbsp;<input name="" type="radio" value="">周&nbsp;&nbsp;<input name="" type="radio" value="">月</label></div>
                             <div><button class="search_btn">查询</button></div>
                        </div>
                       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
                           <thead>
                                <tr class="hbg">
                                  <td><span class="sort_u">时间</span></td>
                                  <td>出勤</td>
                                  <td>施工项目</td>
                                  <td>物品领用</td>
                                  <td>物品消耗</td>
                                  <td>水电消耗</td>
                                  <td>投诉</td>
                                  <td>培训</td>
                                  <td>提成</td>
                                  <td>扣款</td>
                                </tr>
                            </thead>
                            <tbody>
                              <% @work_records.each do |work_record| %>
                                <tr>
                                  <td><%= work_record.current_day %></td>
                                  <td><%= work_record.attendance_num %></td>
                                  <td><%= work_record.construct_num %></td>
                                  <td><%= work_record.materials_used_num %></td>
                                  <td><%= work_record.materials_consume_num %></td>
                                  <td><%= work_record.water_num %></td>
                                  <td><%= work_record.complaint_num %></td>
                                  <td><%= work_record.train_num %></td>
                                  <td><%= work_record.reward_num %></td>
                                  <td><%= work_record.violation_num %></td>
                                </tr>
                              <% end %>
                            </tbody>
                      </table>
                      <%= will_paginate @work_records, :class => "pageTurn", :previous_label => "上一页",
                          :next_label => "下一页" %>                     
                   </div>

                   <div style="display:none;">
                        <div class="search">
                             <div>本月评估：<input name="" type="text" value="未评估" disabled></div>
                             <div>系统打分：<input name="" type="text" value="40" disabled></div>
                             <div><button class="search_btn">编辑</button></div>
                             <div><button class="search_btn">店长打分</button></div>
                        </div>
                       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
                           <thead>
                                <tr class="hbg">
                                  <td><span class="sort_u">时间</span></td>
                                  <td>系统打分</td>
                                  <td>店长打分</td>
                                  <td>当月评估结果</td>
                                </tr>
                            </thead>
                            <tbody>
                              <% @month_scores.each do |month_score| %>
                                <tr>
                                  <td><%= month_score.created_at.strftime("%Y.%m.%d") %></td>
                                  <td><%= month_score.sys_score %></td>
                                  <td><%= month_score.manage_score %></td>
                                  <td>良好</td>
                                </tr>
                              <% end %>
                            </tbody>
                      </table>
                      <%= will_paginate @month_scores, :class => "pageTurn", :previous_label => "上一页",
                          :next_label => "下一页" %>
                   </div>

                   <div style="display:none;">
                       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
                           <thead>
                                <tr class="hbg">
                                  <td><span class="sort_u">培训时间</span></td>
                                  <td>培训类别</td>
                                  <td>内容</td>
                                  <td>是否通过考核</td>
                                  <td>证书</td>
                                </tr>
                            </thead>
                            <tbody>
                              <% @trains.each do |train| %>
                                <tr>
                                  <td><%= train.start_at.strftime("%Y.%m.%d") %> - <%= train.end_at.strftime("%Y.%m.%d") %></td>
                                  <td>洗车</td>
                                  <td><%= train.content %></td>
                                  <td>XXXXXX</td>
                                  <td>XXXXX</td>
                                </tr>
                              <% end %>
                                <tr>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                </tr>
                            </tbody>
                      </table>
                      <%= will_paginate @trains, :class => "pageTurn", :previous_label => "上一页",
                          :next_label => "下一页" %>
                   </div>

                   <div style="display:none;">
                       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
                           <thead>
                                <tr class="hbg">
                                  <td><span class="sort_u">时间</span></td>
                                  <td>原因</td>
                                  <td>奖励方式</td>
                                  <td>处理状态</td>
                                  <td>理由</td>
                                </tr>
                            </thead>
                            <tbody>
                              <% @rewards.each do |reward| %>
                                <tr>
                                  <td><%= reward.created_at.strftime("%Y.%m.%d") %></td>
                                  <td><%= reward.situation %></td>
                                  <td><%= reward.process_types %></td>
                                  <td><a href="#">处理</a></td>
                                  <td><%= reward.mark %></td>
                                </tr>
                              <% end %>
                                <tr>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                </tr>
                            </tbody>
                      </table>
                      <%= will_paginate @rewards, :class => "pageTurn", :previous_label => "上一页",
                          :next_label => "下一页" %>
                   </div>

                   <div style="display:none;">
                       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
                           <thead>
                                <tr class="hbg">
                                  <td><span class="sort_u">时间</span></td>
                                  <td>情况描述</td>
                                  <td>处理状态</td>
                                  <td>处理结果</td>
                                  <td>理由</td>
                                </tr>
                            </thead>
                            <tbody>
                              <% @violations.each do |violation| %>
                                <tr>
                                  <td><%= violation.created_at.strftime("%Y.%m.%d") %></td>
                                  <td><%= violation.mark %></td>
                                  <td><a href="#">处理</a></td>
                                  <td><%= violation.process_types %></td>
                                  <td><%= violation.situation %></td>
                                </tr>
                              <% end %>
                                <tr>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                </tr>
                            </tbody>
                      </table>
                      <%= will_paginate @violations, :class => "pageTurn", :previous_label => "上一页",
                          :next_label => "下一页" %>
                   </div>

                   <div style="display:none;">
                       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
                           <thead>
                                <tr class="hbg">
                                  <td><span class="sort_u">时间</span></td>
                                  <td>底薪</td>
                                  <td>提成金额</td>
                                  <td>扣款金额</td>
                                  <td>总额</td>
                                  <td>操作</td>
                                </tr>
                            </thead>
                            <tbody>
                              <% @salaries.each do |salary| %>
                                <tr>
                                  <td><%= salary.current_month %></td>
                                  <td><%= salary.staff.base_salary %></td>
                                  <td><%= salary.reward_num %></td>
                                  <td><%= salary.deduct_num %></td>
                                  <td><%= salary.total %></td>
                                  <td><a href="#">删除</a></td>
                                </tr>
                              <% end %>
                                <tr>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                </tr>
                            </tbody>
                      </table>
                       <%= will_paginate @salaries, :class => "pageTurn", :previous_label => "上一页",
                          :next_label => "下一页" %>
                   </div>

              </div>
         </div>
    </div>
</div>

<div class="foot"><p>Copyright © 2013 杭州澜泰 版权所有</p></div>
<div class="mask"></div>

<div class="tab_popup" style="display:none;">
    <div class="popup_box">
         <h1>店长打分<a href="#" class="close">关闭</a></h1>
         <div class="popup_body">
              <div class="popup_body_area">
                  <div class="item">
                       <label>分数：</label><input name="" type="text">
                  </div>
                  <div class="clear"></div>
                  <div class="item_textarea">
                      <label>理由：</label><textarea name="" cols="" rows="" class="width_textarea"></textarea>
                  </div>
                  <div class="btn_box"><button class="confirm_btn">确定</button><button class="cancel_btn">取消</button></div>
              </div>
                  </div>
    </div>
</div>

<div class="tab_popup" style="display:none;">
    <div class="popup_box">
         <h1>奖励处理<a href="#" class="close">关闭</a></h1>
         <div class="popup_body">
              <div class="popup_body_area">
                  <div class="item">
                       <label>处理方式：</label><select name="">
                         <option>啊啊啊啊啊啊啊</option>
                       </select>
                  </div>
                  <div class="clear"></div>
                  <div class="item_textarea">
                      <label>理由：</label><textarea name="" cols="" rows="" class="width_textarea"></textarea>
                  </div>
                  <div class="btn_box"><button class="confirm_btn">确定</button><button class="cancel_btn">取消</button></div>
              </div>
                  </div>
    </div>
</div>

<div class="tab_popup" style="display:none;">
    <div class="popup_box">
         <h1>违规处理<a href="#" class="close">关闭</a></h1>
         <div class="popup_body">
              <div class="popup_body_area">
                  <div class="item">
                       <label>处理方式：</label><select name="">
                         <option>啊啊啊啊啊啊啊</option>
                       </select>
                  </div>
                  <div class="clear"></div>
                  <div class="item_textarea">
                      <label>理由：</label><textarea name="" cols="" rows="" class="width_textarea"></textarea>
                  </div>
                  <div class="btn_box"><button class="confirm_btn">确定</button><button class="cancel_btn">取消</button></div>
              </div>
                  </div>
    </div>
</div>