<%=  render '/market_manages/second_menu'%>
<%= javascript_include_tag "data_manages" %>
<input type="hidden" value="<%= params[:store_id] %>" id="store_id" />
<div class="search">
  <div><label>时间：</label>
    <input name="created" type="text" id="created" onclick="WdatePicker({preLoad:true,dateFmt:'yyyy-MM',maxDate:'<%=Time.now.strftime("%Y-%m")%>',isShowClear:false})" readonly value="<%= session[:date] %>"  class="Wdate"/></div>
  <div><button class="search_btn" onclick="search_data(<%=  params[:store_id]%>)">查询</button></div>
</div>
<div class="clear"></div>
<div id="show_index">
  <%= render :partial=>'index' %>
</div>
<div class="tab_popup show_prod_serv"></div>
