<%#=  render 'second_menu'%>
<input type="hidden" value="<%= params[:store_id] %>" id="store_id" />
<div class="search">
  <div><label>时间：</label>
    <input name="created" type="text" id="created" onclick="WdatePicker({preLoad:true,dateFmt:'yyyy-MM',maxDate:'<%=Time.now.strftime("%Y-%m")%>'})" readonly value="<%= session[:date] %>"  class="Wdate"/></div>
  <div><button class="search_btn" onclick="search_first()">查询</button></div>
</div>
<div class="clear"></div>
<div class="tab_head">
  <ul>
    <span class="data">服务类</span>
  </ul>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
  <thead>
    <tr class="hbg">
      <td>时间</td>
      <td>详细</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=  Category::TYPES_NAME[Category::TYPES[:service]]%></td>
      <td>
        <table width="100%" border="0" cellspacing="1" cellpadding="0" class="s_table">
          <tr class="fws">
            <td width="320px">类别</td>
            <td>商品编号</td>
            <td>付款方式</td>
            <td>数量</td>
            <td>合计（元）</td>
          </tr>
          <%  @prod_service[Category::TYPES[:service]].each do |k,service|%>
            <tr>
              <td><%=  @category[k]  %></td>
              <td><%=  service.round(2)  %></td>
              <td><%=  %></td>
              <td><%=  %></td>
              <td><%= 4 %></td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td>总计</td>
      <td>
        <table width="100%" border="0" cellspacing="1" cellpadding="0" class="s_table">
          <tr class="fws">
            <td width="320px">类别</td>
            <td>商品编号</td>
            <td>付款方式</td>
            <td>数量</td>
            <td>合计（元）</td>
          </tr>
          <%  @prod_service[Category::TYPES[:service]].each do |k,service|%>
            <tr>
              <td><%=  @category[k]  %></td>
              <td><%=  service.round(2)  %></td>
              <td><%=  %></td>
              <td><%=  %></td>
              <td><%= 4 %></td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
    <% unless @prod_service[Category::TYPES[:good]].nil? %>
      <tr>
        <td><%=  Category::TYPES_NAME[Category::TYPES[:good]]%></td>
        <td>
          <table width="100%" border="0" cellspacing="1" cellpadding="0" class="s_table">
            <tr class="fws">
              <td width="320px">类别</td>
              <td>商品编号</td>
              <td>付款方式</td>
              <td>数量</td>
              <td>合计（元）</td>
            </tr>
            <%  @prod_service[Category::TYPES[:good]].each do |k,service|%>
              <tr>
                <td><%=  @category[k]  %></td>
                <td><%=  service.round(2)  %></td>
                <td><%=  %></td>
                <td><%=  %></td>
                <td><%= 4 %></td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<%#= will_paginate_remote(@pcards ,"" ,{:url =>"/stores/#{params[:store_id]}/market_manages/load_pcard"}) %>
<%#*<div class="amount">总计：<%= format("%.1f",@total_fee) %></div>%>