<div class="main">
  <div class="box">
    <div class="data_box">
      <%= render :partial => "menu_partial" %>
      <div class="data_menu">
        <% if permission?(:sales, :svcard) %>
            <a href="JavaScript:void(0)" class="add_btn" onclick="new_sv_card(<%= params[:store_id] %>)">新建优惠卡</a>
        <% end %>         
      </div>
      <div class="clear"></div>
      <div class="data_body">
        <div>
          <% unless @sv_cards.blank? %>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
            <thead>
              <tr class="hbg">
                  <td>&nbsp;</td>
                  <td>名称</td>
                  <td>类型</td>
                  <td>内容</td>
                  <td>使用范围</td>
                  <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <% @sv_cards.each do |sc| %>
              <tr>
                <td class="data_table_img"><img src="<%= sc.img_url.nil? ? "" : sc.img_url.gsub("img#{sc.id}", "img#{sc.id}_#{Constant::SVCARD_PICSIZE[0]}") %>" /></td>
                <td><%= sc.name %></td>
                <td><%= SvCard::S_FAVOR[sc.types] %></td>
                <td width="15%"><%= truncate(sc.description, :length => 15) %></td>
                <td><%= SvCard::S_USE_RNGE[sc.use_range] %></td>
                <td>
                  <% if permission?(:sales, :edit_svcard) %>
                  <a href="JavaScript:void(0)" onclick="show_svcard_detail(<%= sc.id %>,<%= params[:store_id] %>)">编辑</a>
                  <% end %>
                  <% if permission?(:sales, :delete_svcard) %>
                  <%= link_to "删除", store_sv_card_path(@store, sc), :method => :delete, :confirm => "确定删除该优惠卡?" %>
                  <% end %>
                </td>
              </tr>
                <% end %>
            </tbody>
          </table>
          <% if !@sv_cards.blank? %>
            <%= will_paginate  @sv_cards, :class => "pageTurn", :previous_label => "上一页",
              :next_label=> "下一页" %>
          <% end %>
          <% else %>
          无任何优惠卡!
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="new_sv_card" class="tab_popup" style="display: none;" > <!--优惠卡弹出层-->
 </div>
  <div id="show_sv_card" class="tab_popup" style="display:none"> <!--优惠卡显示层-->
  </div>
</div>
<div class="foot"><p>Copyright © 2013 杭州澜泰 版权所有</p></div>
<div class="mask"></div>