<div class="main">
<div class="box">
  <div class="data_box">
    <%= render :partial => "menu_partial" %>
    <div class="search">
    <form accept-charset="UTF-8" action="/stores/<%= @store.id %>/sv_cards/search_left_price" method="get">
      <div><label>客户名称：</label><input name="customer_name" type="text" value="<%= @customer_name %>"/></div>
      <div><label>客户手机号:</label><input name="customer_tel" type="text" value="<%= @customer_tel %>"/></div>
      <div><button id="use_search" class="search_btn">查询</button></div>
    </form>
    </div>
    <div class="clear"></div>
    <div class="data_body">
      <div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>车牌号码</td>
              <td>客户名称</td>
              <td>客户手机号</td>
              <td>优惠卡名称</td>
              <td>余额（元）</td>
              <td>使用情况</td>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.num %></td>
              <td><%= customer.name %></td>
              <td><%= customer.mobilephone %></td>
              <td><%= customer.s_name %></td>
              <td><%= customer.left_price %></td>
              <td><%= link_to "详细", "/stores/#{@store.id}/sv_cards/left_price?c_svc_relation_id=#{customer.csr_id}",
                  :remote => "true", "data-type" => "script"%></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @customers, :class => "pageTurn", :previous_label => "上一页", :next_label => "下一页" %>
      </div>
    </div>
  </div>
</div>
</div>
<div class="foot"><p>Copyright © 2013 杭州澜泰 版权所有</p></div>
<div class="mask"></div>
<div id="print_receipt_div">
  <div class="tab_popup" id="print_receipt_partial">
    <div class="popup_box">
      <h1>使用情况详情<a href="javascript:void(0)" class="close">关闭</a></h1>
      <div class="popup_body">
        <div class="popup_body_area">

        </div>
      </div>
    </div>
  </div>
</div>
