<div>
   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
       <thead>
            <tr class="hbg">
              <td>日期</td>
              <td>相关订单</td>
              <td>服务项目</td>
              <td>金额（元）</td>
            </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime("%Y.%m.%d--%H:%M") %></td>
              <td>
                <%= link_to "#{order.code}", "/orders/#{order.id}/order_info",
                  :remote => "true", "data-type" => "script", :class => "other_a" %>
              </td>
              <td>
                <% service_products = get_service_products(order) %>
                <% if service_products.length != 0 %>
                  <table width="100%" border="0" cellspacing="1" cellpadding="0" class="s_table">
                    <tr class="fws">
                      <td>服务名称</td>
                      <td>数量</td>
                      <td>单价</td>
                    </tr>
                    <% service_products.each do |prod| %>
                    <tr>
                      <td><%= prod.name %></td>
                      <!--% order_prod_relation = get_order_prod_relation(order.id, prod.id) %-->
                      <td><%= prod.pro_num %></td>
                      <td><%= prod.price %></td>
                    </tr>
                    <% end %>
                  </table>
                <% else %>
                无服务项目
                <% end %>
              </td>
              <td><%= order.price %></td>
            </tr>
          <% end %>
        </tbody>
  </table>
  <%= will_paginate @orders, :class => "pageTurn", :previous_label => "上一页",
    :next_label => "下一页" %>
</div>