<script>
  <% if params[:action]=='search_gross_profit' %>
    $(document).ready(function(){
      $(".pageTurn a").unbind("click");
      $(".pageTurn a").bind("click", function() {
        var url = this.href + "&o_started="+$("#o_gross_started").val()+"&o_ended="+$("#o_gross_ended").val()+"&prod_types="+$("#prod_types").val();
        $.ajax({
          async:true,
          url:url,
          dataType:"script",
          type:"POST",
          success:function(){
            // alert(1);
          },error:function(){
            // alert("error");
          }
        });
        /* alert(this.href); */
        return false;
      });
    });
    <% end %>
</script>
  <div>
    <% unless @orders.blank? %>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
        <thead>
          <tr class="hbg">
            <td>日期</td>
            <td>相关订单</td>
            <td>成本价</td>
            <td>零售价</td>
            <td>毛利</td>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <% order_cost_price = orderCostPrice(order) %>
            <tr>
              <td><%= order.created_at.strftime("%Y-%m-%d") if order.created_at %></td>
              <td>
              <%= link_to "#{order.code}", "/orders/#{order.id}/order_info" ,
            :remote => "true", "data-type" => "script", :class => "other_a" %></td>
              <td><%= format("%.2f",order_cost_price) %></td>
              <td><%= format("%.2f",order.price) %></td>
              <td><%= format("%.2f",(order.price.to_f - order_cost_price.to_f) > 0 ? (order.price.to_f - order_cost_price.to_f) : 0) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pageTurn">
        <%= will_paginate @orders,:class=>"pageTurn",:previous_label=>"上一页",:next_label=>"下一页" %>
      </div>
    <%else%>
      暂无记录
    <%end%>
  </div>
