<%=  render 'second_menu'%>
<div class="data_menu">
  <% if permission?(:datas, :add_target) %>
    <a href="javascript:void(0)" onclick="show_center('.tab_popup');">定制目标销售额</a>
  <% end %>
</div>
<div class="clear"></div>
<div class="tab_head">
  <ul>
    <li class="hover">当前制定目标销售额</li>
    <li>过往记录</li>
  </ul>
</div>
<div class="data_body">
  <div>
    <% unless @new_goals.blank? %>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
        <thead>
          <tr class="hbg">
            <td>时间</td>
            <td>分类</td>
            <td>目标销售额（元）</td>
            <td>目前完成销售额（元）</td>
            <td>目前完成百分比</td>
            <td>剩余时间（天）</td>
          </tr>
        </thead>
        <tbody>
          <%  @new_goals.sort.each do |sale|%>
            <% @goal_hash[sale.id].each_with_index do |goal,index| %>
              <tr>
                <%if index==0 %>  <td  rowspan="<%=@goal_hash[sale.id].length%>">
                    <%="#{sale.started_at.strftime("%Y.%m.%d")}-#{sale.ended_at.strftime("%Y.%m.%d")}" %>
                  </td> <%end%>
                <td><%= goal.type_name %></td>
                <td><%= goal.goal_price %></td>
                <td><%= goal.current_price %></td>
                <td><%= goal.goal_price==0 ? "0%" :"#{format("%.1f",(goal.current_price.nil?? 0 :goal.current_price)*100/goal.goal_price)}%" %></td>
                <%if index==0 %> <td rowspan="<%=@goal_hash[sale.id].length%>"><%= ((sale.ended_at-Time.now)/86400.00).to_i%>天</td><%end%>
              </tr>
            <% end unless @goal_hash[sale.id].blank? %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      当前暂无记录
    <% end %>
  </div>
  <div style="display:none;">
    <%unless @old_goals.blank?%>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
        <thead>
          <tr class="hbg">
            <td>时间</td>
            <td>分类</td>
            <td>目标销售额（元）</td>
            <td>目前完成销售额（元）</td>
            <td>目前完成百分比</td>
          </tr>
        </thead>
        <tbody>
          <%  @old_goals.each do |sale|%>
            <% @goal_hash[sale.id].each_with_index do |goal,index| %>
              <tr>
                <%if index==0 %>  <td  rowspan="<%=@goal_hash[sale.id].length%>">
                    <%="#{sale.started_at.strftime("%Y.%m.%d")}-#{sale.ended_at.strftime("%Y.%m.%d")}" %></td> <%end%>
                <td><%= goal.type_name %></td>
                <td><%= goal.goal_price %></td>
                <td><%= goal.current_price %></td>
                <td><%= "#{format("%.1f",(goal.current_price.nil?? 0 :goal.current_price)*100/goal.goal_price)}%" %></td>
              </tr>
            <% end unless @goal_hash[sale.id].blank? %>
          <% end %>
        </tbody>
      </table>
    <%else%>
      暂无记录
    <% end %>
  </div>
</div>

<div class="mask"></div>
<div class="tab_popup" style="display: none;">
  <div class="popup_box">
    <h1>定制目标销售额<a href="javascript:void(0)" class="close">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area">
        <%= form_for :goal,:url=>"/stores/#{params[:store_id]}/market_manages/",:html=>{:id=>"create_goal"},:method=>:POST do%>
          <div class="item">
            <label>开始时间：</label><input name="created" type="text" id="created" onclick="WdatePicker()"  class="Wdate" readonly />
          </div>
          <div class="item">
            <label>结束时间：</label><input name="ended" type="text" id="ended" onclick="WdatePicker()"  class="Wdate" readonly/>
          </div>
          <div class="clear"></div>
          <h2>
            金额（元）
          </h2>
          <div class="item" id="item_0">
            <label>服务类</label>：<input name="goal[<%= GoalSale::TYPES[:SERVICE] %>]" type="text" />
          </div>
          <div class="item" id="item_1">
            <label>产品类</label>：<input name="goal[<%= GoalSale::TYPES[:PRODUCT] %>]" type="text" />
          </div>
          <div class="item" id="item_2">
            <label>卡类</label>：<input name="goal[<%= GoalSale::TYPES[:CARD] %>]" type="text"  />
          </div>
          <div class="item" id="item_3">
            <label>其他</label>：<input name="goal[<%= GoalSale::TYPES[:OTHER] %>]" type="text" />
          </div>
          <div class="item">
            <a href="javascript:void(0)" class="item_addItem" onclick="add_div()">+</a>
          </div>
        <% end %>
      </div>
      <div class="btn_box"><button class="confirm_btn" onclick="check_goal(this)">确定</button></div>
    </div>
  </div>
</div>
