<%= javascript_include_tag "/assets/stations.js" %>
<meta http-equiv="refresh" content="300" />
<div class="data_box">
  <div class="data_body">
    <div class="siteBox site_pay">
      <h1>等待付款</h1>
      <% @f_waiting.each do |key,wait| %>
        <div class="site_list">
          <span class="site_name"><%= @f_waiting[key][0].name %></span>
          <ul>
            <%@f_waiting[key].each do |num|%>
              <li><%= link_to "#{num.num}", "/orders/#{num.order_id}/order_info" ,
                  :remote => "true", "data-type" => "script", :class => "other_a" %></li>
            <% end unless @f_waiting[key].blank? %>
          </ul>
        </div>
      <% end  unless @f_waiting.blank?%>
    </div>
    <div class="siteBox site_work">
      <h1>正在施工</h1>
      <% @f_working.each do |key,wait| %>
        <div class="site_list">
          <span class="site_name"><%= @f_working[key][0].name %></span>
          <ul>
            <%@f_working[key].each do |num|%>
              <li><%= link_to "#{num.num}", "/orders/#{num.order_id}/order_info" ,
                  :remote => "true", "data-type" => "script", :class => "other_a" %></li>
            <% end unless @f_working[key].blank? %>
          </ul>
        </div>
      <% end  unless @f_working.blank?%>
    </div>
    <div class="siteBox site_info">
      <h1>工位情况</h1>
      <div class="site_list" id="station_infos">
        <% unless  @stations.blank?%>
          <input type="hidden" id="t_status" value="0" />
          <% @stations.each do |station| %>
            <div class="site_station" id="<%=station.id%>">
              <h3>工位: <%= station.name %><span class="countTime" id="time_<%=station.id  %>"></span></h3>
              <div class="site_m" id="site_<%= station.id %>" style="display:none">
                <div class="close" onclick="$(this).parent().css('display','none')">关闭</div>
                <div class="site_table" id="table_<%= station.id %>">
                  <%if station.is_has_controller%>
                    <div class="site_tdThead"><span>&nbsp;</span><span>日</span><span>月</span></div>
                    <div class="site_tdTbody"id="water_<%=station.id%>">
                      <span class="site_tdTbody_bt" >水(T)</span><span>0</span><span>0</span></div>
                    <div class="site_tdTbody" id="gas_<%= station.id %>">
                      <span class="site_tdTbody_bt" >气(L)</span><span>0</span><span>0</span></div>
                  <%else%>
                    <div class="site_table_text">工位暂无工控机</div>
                  <%end%>
                </div>
              </div>
              <% if  station.status== Station::STAT[:LACK]%>
                <div class="siteCar wrong_station" onclick="collect_info(<%= params[:store_id] %>,<%=station.id%>)" title="查看水、电、气使用情况"><%=Station::STAT_NAME[station.status] %></div>
              <% elsif station.status== Station::STAT[:WRONG] %>
                <div class="siteCar wrong_station" title="查看水、电、气使用情况" onclick="collect_info(<%= params[:store_id] %>,<%=station.id%>)"><%=Station::STAT_NAME[station.status]%></div>
              <% elsif station.status== Station::STAT[:NO_SERVICE] %>
                <div class="siteCar wrong_station" title="查看水、电、气使用情况" onclick="collect_info(<%= params[:store_id] %>,<%=station.id%>)"><%=Station::STAT_NAME[station.status]%></div>
              <%elsif @t_infos[station.id].nil?%>
                <div class="siteCar free_station" title="查看水、电、气使用情况" onclick="collect_info(<%= params[:store_id] %>,<%=station.id%>)">空闲</div>
                <p>技师：暂无技师，<a href="/stores/<%=params[:store_id]%>/stations/show_detail" target="_blank">请分配</a></p>
              <%elsif  @t_infos[station.id][1].nil? %>
                <div class="siteCar free_station" title="查看水、电、气使用情况" onclick="collect_info(<%= params[:store_id] %>,<%=station.id%>)">空闲</div>
                <div class="site_teacher" title="<%= @t_infos[station.id][0] %>">技师：<%= @t_infos[station.id][0] %></div>
              <% else %>
                <div class="siteCar" title="查看水、电、气使用情况" onclick="collect_info(<%= params[:store_id] %>,<%=station.id%>)"><%=@t_infos[station.id][1]  %></div>
                <div class="site_teacher" title="<%= @t_infos[station.id][0] %>">技师：<%= @t_infos[station.id][0] %></div>
                <%time = @times[station.id].nil? ? 0 : @times[station.id].to_i %>
                <script type="text/javascript">
                  time<%=station.id  %> = <%=  time%>
                  if (<%=  time%><=0){
                    $("#time_"+<%= station.id %>).html("时间到");
                  }else{
                    $("#time_"+<%= station.id %>).html('<%= (time/60 >=10 ? "#{time/60}:" : "0#{time/60}:")+(time%60 >=10 ? "#{time%60}" : "0#{time%60}")%>');
                  }
                  setInterval(function(){
                    time<%=station.id  %> -= 1;
                    if (parseInt(time<%=station.id  %>)<=0){
                      $("#time_"+<%= station.id %>).html("时间到")
                    }else{
                      munite<%=station.id%> = parseInt((time<%=station.id  %>)/60)>=10 ? parseInt((time<%=station.id  %>)/60) : "0"+parseInt((time<%=station.id  %>)/60);
                      seconds<%=station.id%> = parseInt((time<%=station.id  %>)%60)>=10 ? parseInt((time<%=station.id  %>)%60) : "0"+parseInt((time<%=station.id  %>)%60);
                      $("#time_"+<%= station.id %>).html((munite<%=station.id%>)+":"+(seconds<%=station.id%>));
                    }
                  },1000)
                </script>
              <% end %>
            </div>
          <%end%>
        <%else%>
          <%= "暂未创建工位信息" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="related_order_div"></div>
