<%= javascript_include_tag "/assets/My97DatePicker/WdatePicker.js" %>
<%= stylesheet_link_tag    "/assets/My97DatePicker/skin/WdatePicker" %>
<div class="item">
  <label>套餐卡名称：</label><input name="name" id="name" type="text" value="<%= @pcard.name %>" />
</div>
<div class="item">
  <label>套餐价格：</label><input name="price" id="price" type="text" value="<%= @pcard.price %>" />
</div>
<div class="item_textarea">
  <span class="item_radio"><input name="time_select" type="radio" value="<%= PackageCard::TIME_SELCTED[:PERIOD] %>" /></span>
  <label>有效时间：</label> <input name="started_at" id="started_at"  value="<%= @pcard.started_at.nil?? "" : @pcard.started_at.strftime("%Y-%m-%d") %>"
                              type="text" onclick="WdatePicker()" class="Wdate" readonly />&nbsp;&nbsp;至&nbsp;&nbsp;
  <input name="ended_at" id="ended_at" type="text" value="<%= @pcard.ended_at.nil?? "" : @pcard.ended_at.strftime("%Y-%m-%d") %>"
         onclick="WdatePicker()" class="Wdate" readonly />
</div>
<div class="item_textarea">
  <span class="item_radio"><input name="time_select" type="radio" value="<%= PackageCard::TIME_SELCTED[:END_TIME] %>" /></span>
  <label>有效天数：</label><input name="" type="text" />&nbsp;&nbsp;天
</div>
<div class="item_textarea">
  <label>套餐卡配图：</label>
  <input type="file" name="img_url" id="sale_img"  class="file" size="50px" /><span class="show_pic" >
    <img src="<%=  @pcard.img_url.nil? ? "" : @pcard.img_url.gsub("img#{@pcard.id}","img#{@pcard.id}_#{Constant::C_PICSIZE[2]}") %>" /></span>
</div>

<div class="clear"></div>
<div class="card_content">
  <%= render :partial=>"/sales/sale_search",:object=>[Product::PRODUCT_TYPES,"pcard_types"] %>
</div>