<%= javascript_include_tag "/assets/sales.js" %>
<div class="main">
  <div class="box">
    <div class="data_box">
      <div class="second_menu">
        <a href="/stores/<%= params[:store_id] %>/package_cards" <% if params[:action] == "index"  %> class="hover"<%end%>>套餐卡列表</a>
        <% if permission?(:sales, :show_sale_records) %><a href="/stores/<%= params[:store_id] %>/package_cards/sale_records" <% if params[:action] == "sale_records"  %> class="hover"<%end%>>销售记录</a><% end %></div>
      <div class="data_menu"><% if permission?(:sales, :add_p_card) %><a href="javascript:void(0)" class="add_btn" onclick="add_pcard('<%=params[:store_id] %>')">添加套餐卡</a><% end %></div>
      <div class="clear"></div>
      <div class="data_body">
        <div>
          <% unless @cards.blank? %>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
              <thead>
                <tr class="hbg">
                  <td>&nbsp;</td>
                  <td>名称</td>
                  <td>有效时间</td>
                  <td>套餐内容</td>
                  <td>操作</td>
                </tr>
              </thead>
              <tbody>
                <%@cards.each do |card|%>
                  <tr>
                    <td class="data_table_img"><img src="<%= card.img_url.nil? ? "" : card.img_url.gsub("img#{card.id}","img#{card.id}_#{Constant::C_PICSIZE[0]}")  %>" /></td>
                    <td><%= card.name %></td>
                    <td><%= if card.date_types == PackageCard::TIME_SELCTED[:END_TIME]
                        "#{card.date_month}天"
                      else
                        "#{card.started_at.nil?? "" : card.started_at.strftime("%Y.%m.%d")}-#{card.ended_at.nil??  "" : card.ended_at.strftime("%Y.%m.%d")}"
                      end
                    %></td>
                    <td>
                      <table width="100%" border="0" cellspacing="1" cellpadding="0" class="s_table">
                        <%unless @prods[card.id].blank? %>
                          <tr class="fws">
                            <td>名称</td>
                            <td>数量</td>
                          </tr>
                          <%@prods[card.id].each do |prod|%>
                            <tr>
                              <td><%= prod.name %></td>
                              <td><%= prod.num %></td>
                            </tr>
                          <%end%>
                        <%else%>
                          <tr class="fws"><td>暂无</td></tr>
                        <% end %>
                      </table>
                    </td>
                    <td> <% if permission?(:sales, :edit_p_card) %><a href="javascript:void(0)" onclick="edit_pcard('<%=card.id %>','<%=params[:store_id] %>')">修改</a><% end %>
                      <% if permission?(:sales, :del_p_card) %><a href="javascript:void(0)" onclick="delete_pcard('<%= card.id %>')">删除</a><% end %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="pageTurn">
              <%= will_paginate @cards,:class=>"pageTurn",:previous_label=>"上一页",:next_label=>"下一页"%>
            </div>
          <% else %>
            暂无套餐卡信息
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%if  flash[:notice]%>
  <script type="text/javascript">tishi_alert("<%=  flash[:notice] %>")</script>
<% end %>
<div class="foot"><p>Copyright © 2013 杭州澜泰 版权所有</p></div>
<div class="mask"></div>
<div class="tab_popup add_tab" id="add_tab">
  <div class="popup_box"></div>
</div>
