<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>管理数据统计</title>
    <%= stylesheet_link_tag    "phone_manage" %>
    <%= javascript_include_tag  "application", "logins", "main" %>
  </head>
  <body class="white_bg" style="width:400px">
    <div class="head">
      <h1><%= @store.name %></h1>
      <p><%= session[:time] %>点</p>
    </div>
    <div class="main">
      <div class="box">
        <div class="day">今天</div>
         <%  time,mo_time,is_up = Time.now.strftime('%Y-%m-%d'),Time.now.yesterday.strftime('%Y-%m-%d'),true
         if  @orders[time].nil?
           to_total = {0=>0,1=>0}
           up_rate = 0
           total = 0
         else
           to_total = @orders[time]
           total = @orders[time].values.inject(0){|num,v|num+v}
           if @orders[mo_time].nil?
            up_rate = 100
          else
            mo_total = @orders[mo_time].values.inject(0){|num,v|num+v}
             if mo_total > total
               is_up = false
               up_rate = (mo_total-total)*100/mo_total
             else
               up_rate = (total-mo_total)*100/mo_total
             end
           end
         end
       %>
         <dl>
           <dd><span>产品销售金额：</span><%= to_total[Product::PROD_TYPES[:PRODUCT]].nil? ? 0 : to_total[Product::PROD_TYPES[:PRODUCT]] %>元</dd>
           <dd><span>服务销售金额：</span><%= to_total[Product::PROD_TYPES[:SERVICE]].nil? ? 0 :  to_total[Product::PROD_TYPES[:SERVICE]]%>元</dd>
         </dl>
         <div class="all">
          <div class="all_money">合计：<%= total %>元</div>
           <div class="all_amount">比昨天<span <% if is_up %>class="up"<% else %>class="down"<%end%>>上升</span><%= "#{format("%.1f",up_rate)}%" %></div>
         </div>
      </div>
       <div class="box">
        <div class="week">本周</div>
        <dl>
           <dd><span>产品销售金额：</span><%= @total_week[Product::PROD_TYPES[:PRODUCT]].nil? ? 0 : @total_week[Product::PROD_TYPES[:PRODUCT]]  %>元</dd>
           <dd><span>服务销售金额：</span><%=  @total_week[Product::PROD_TYPES[:SERVICE]].nil? ? 0 : @total_week[Product::PROD_TYPES[:SERVICE]]  %>元</dd>
         </dl>
         <div class="all">
           <div class="all_money">合计：<%=@total_week.values.inject(0){|num,price| num+price}  %>元</div>
         </div>
       </div>
      <div class="box">
         <div class="month">本月</div>
         <dl>
           <dd><span>产品销售金额：</span><%= @total_month[Product::PROD_TYPES[:PRODUCT]].nil? ? 0 : @total_month[Product::PROD_TYPES[:PRODUCT]] %>元</dd>
           <dd><span>服务销售金额：</span><%= @total_month[Product::PROD_TYPES[:SERVICE]].nil? ? 0 : @total_month[Product::PROD_TYPES[:SERVICE]] %>元</dd>
         </dl>
         <div class="all">
          <div class="all_money">合计：<%= @total_month.values.inject(0){|num,price| num+price}  %>元</div>
         </div>
       </div>
     </div>
   </body>
 </html>