<html>
  <head>
    <title>管理数据登陆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    "phone_manage" %>
    <%= javascript_include_tag  "application", "logins", "main" %>
  </head>
  <body>   
    <div class="login">
      <%= form_for :login,:url=>"/logins/login_phone",:method=>:post,:html=>{:id=>"phone_form"} do %>
        <div class="login_item">
          <ul>
            <li><input class="name" type="text" value="<%= @user_name.nil? ? "" : @user_name %>" /></li>
            <li><input type="password" class="pressword" value="" /></li>
          </ul>
        </div>
      <% end %>
      <div class="login_btn"><button onclick="check_phone()">登录</button></div>
    </div>
    <%= render :partial => "/shared/tishi_alert" %>
  </body>
</html>