<%= javascript_include_tag "/assets/My97DatePicker/WdatePicker.js" %>
<%= stylesheet_link_tag    "/assets/My97DatePicker/skin/WdatePicker" %>
<%= render 'directory' %>
<div class="third_menu">
  <ul>
    <li><a href="javascript:void(0)" onclick="$('#month').css('display','');$('#day').css('display','none');$('.third_menu a').toggleClass('hover')"
           <%if params[:action]=="index" || params[:action]=="search_list"%>    class="hover" <%end%>>月份统计</a></li>
    <li><a href="javascript:void(0)" onclick="$('#month').css('display','none');$('#day').css('display','');$('.third_menu a').toggleClass('hover')"
           <%if params[:action]=="date_list"%>    class="hover" <%end%>>查询统计</a></li>
  </ul>
</div>
<div id="month" <%if params[:action]=="date_list" %>  style="display: none" <%end%>>
  <div class="search">
    <%= form_for :complaint,:url=>"/stores/#{params[:store_id]}/complaints/search" do%>
      <div><label>统计月份：</label><select name="created_at">
          <% curr_month = Time.now.months_ago(1)%>
          <%  while( curr_month.strftime("%Y-%m") >= Constant::DATE_START)%>
            <% month = curr_month.strftime("%Y-%m")  %>
            <option <%if (@complaint.nil? ? session[:created_at].nil? ? "" : session[:created_at] : @complaint.current_day.strftime("%Y-%m"))==month%>selected <%end%> value="<%= month %>"><%= month %></option>
            <% curr_month = curr_month.prev_month%>
          <% end %>
        </select>
      </div>
      <div><button class="search_btn" >查询</button></div>
    <% end %>
  </div>
  <div class="clear"></div>
  <div class="data_body">
    <% if @complaint.nil?%>
      暂未统计当月结果
    <% else%>
      <img src="<%= @complaint.image_url %>" />
    <% end%>
  </div>
</div>
<div id="day" <%if params[:action]=="index" || params[:action]=="search_list"%>  style="display: none" <%end%>>
  <div class="search">
    <%= form_for :complaint,:url=>"/stores/#{params[:store_id]}/complaints/search_time" do%>
      <div>
        <label>开始时间：</label>
        <input name="start_sex" id="start_sex" type="text" value="<%= session[:start_sex] %>"  onclick="WdatePicker()" class="Wdate" readonly />
      </div>
      <div>
        <label>结束时间：</label>
        <input name="end_sex" id="end_sex" type="text" value="<%=  session[:end_sex]  %>" onclick="WdatePicker()" class="Wdate" readonly />
      </div>
      <div>
        <label>性别：</label>
        <select style="width: 80px;" name="sex">
          <option value="<%= Complaint::SEX[:NONE] %>">未选择</option>
          <option <%if Complaint::SEX[:MALE]==session[:sex].to_i%>selected<%end%> value="<%= Complaint::SEX[:MALE] %>">男</option>
          <option <%if Complaint::SEX[:FEMALE]==session[:sex].to_i%>selected<%end%> value="<%= Complaint::SEX[:FEMALE] %>">女</option>
        </select>
      </div>
      <div>
        <label>客户姓名：</label>
        <input name="end_name" id="end_name" type="text" value="<%=  session[:end_name]  %>" />
      </div>
      <div>
        <button class="search_btn">查询</button>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
  <div class="data_body">
    <div class="data_loadList">
      <ul>
        <% unless @total_com.blank?%>
          <%@total_com.each do |key,num|%>
            <li><span class="loadList_name"><%= Complaint::TYPES_NAMES[key] %>：</span><span class="loadList_box">
                <span class="loadList_line" style="width:<%=600.0/@size*num  %>px"><%= num %></span></span></li>
              <% end%>
            <%else%>
          <li>无统计记录</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>