<%= javascript_include_tag "/assets/My97DatePicker/WdatePicker.js" %>
<%= stylesheet_link_tag    "/assets/My97DatePicker/skin/WdatePicker" %>
<%= render 'directory' %>
<div class="search">
  <%= form_for :complaint,:url=>"/stores/#{params[:store_id]}/complaints/search_degree" do%>
    <div><label>统计月份：</label>
      <select name="degree">
        <% (Constant::DATE_START..Time.now.months_ago(1).strftime("%Y-%m")).each do |month| %>
          <option <%if (@degree.nil? ? session[:degree].nil? ? "" : session[:degree] : @degree.current_day.strftime("%Y-%m"))==month%>selected <%end%> value="<%= month %>"><%= month %></option>
        <% end %>
      </select>
    </div>
    <div><button class="search_btn">查询</button></div>
  <% end %>
</div>
<div class="clear"></div>
<div class="data_body">
  <% if @degree.nil?%>
    暂未当月统计结果
  <% else%>
    <img src="<%= @degree.image_url %>" />
  <% end%>
</div>
