<%= render 'directory' %>
<div class="search">
  <%= form_for :complaint,:url=>"/stores/#{params[:store_id]}/complaints/detail_s" do%>
     <div>
        <label>开始时间：</label>
        <input id="start_degree" name="start_detail" type="text" value="<%= session[:start_detail] %>"  onclick="WdatePicker()" class="Wdate" readonly />
      </div>
      <div>
        <label>结束时间：</label>
        <input id="end_degree" name="end_detail" type="text" value="<%=  session[:end_detail]  %>" onclick="WdatePicker()" class="Wdate" readonly />
      </div>
    <div><button class="search_btn">查询</button></div>
  <% end %>
</div>
<div class="clear"></div>
<div class="data_body">
  <div>
    <%unless @complaint.blank?%>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
        <thead>
          <tr class="hbg">
            <td width="10%">投诉时间</td>
            <td width="10%">相关订单</td>
            <td width="10%">相关员工</td>
            <td width="10%">投诉分类</td>
            <td width="10%">投诉原因</td>
            <td width="10%">是否有效</td>
            <td width="10%">是否处理</td>
            <td width="10%">处理时间</td>
            <td width="10%">处理结果</td>
            <td width="10%">是否加入考核</td>
          </tr>
        </thead>
        <tbody>
          <%@complaint.each do |comp|%>
            <tr>
              <td><%= comp.created_at.nil? ? "" : comp.created_at.strftime("%Y.%m.%d--%H:%M") %></td>
              <td> <%= link_to "#{comp.code}", "/orders/#{comp.o_id}/order_info" ,
                  :remote => "true", "data-type" => "script", :class => "other_a" %></td>
              <td><%= @staff_name[comp.id] %></td>
              <td><%=Complaint::TYPES_NAMES[comp.types]%></td>
              <td width="200px"><%= comp.reason %></td>
              <td><%= comp.types ==Complaint::TYPES[:INVALID]? "否" : "是" %></td>
              <td><%= comp.status ?  Complaint::STATUS_NAME[1] : Complaint::STATUS_NAME[0]  %></td>
              <td><%=comp.process_at.nil? ? "" : comp.process_at.strftime("%Y.%m.%d--%H:%M")  %></td>
              <td width="200px"><%= comp.remark %></td>
              <td><%= Complaint::VIOLATE_N[comp.is_violation] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="otherWay">
        <ul>
          <li>及时率：<span class="load_box"><span class="load_line" style="width:<%= "#{@non}%" %>"></span></span>&nbsp;&nbsp;
            <em class="red"><%= "#{@non}%" %></em></li>
          <li>解决率：<span class="load_box"><span class="load_line" style="width:<%= "#{@undo}%" %>"></span></span>&nbsp;&nbsp;
            <em class="red"><%= "#{@undo}%" %></em></li>
        </ul>
      </div>
      <div class="pageTurn">
        <%= will_paginate @complaint,:class=>"pageTurn",:previous_label=>"上一页",:next_label=>"下一页" %>
      </div>
    <%else%>
      暂无投诉
    <% end %>
  </div>
</div>
<div id="related_order_div"></div>

