<%= javascript_include_tag "/assets/My97DatePicker/WdatePicker.js" %>
<%= stylesheet_link_tag    "/assets/My97DatePicker/skin/WdatePicker" %>
<%= javascript_include_tag "month_scores" %>
<%=  render 'second_menu'%>
<div class="data_menu"><a href="javascript:void(0)" onclick="show_center('.tab_popup');">定制目标销售额</a></div>
<div class="clear"></div>
<div class="tab_head">
  <ul>
    <li class="hover">当前制定目标销售额</li>
    <li>过往记录</li>
  </ul>
</div>
<div class="data_body">
  <div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
      <thead>
        <tr class="hbg">
          <td>时间</td>
          <td>分类</td>
          <td>目标销售额（元）</td>
          <td>目前完成销售额（元）</td>
          <td>目前完成百分比</td>
          <td>剩余时间（天）</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3">2012.01--2013.01</td>
          <td>服务类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
          <td rowspan="3">5天</td>
        </tr>
        <tr>
          <td>卡类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>
        <tr>
          <td>产品类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="display:none;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
      <thead>
        <tr class="hbg">
          <td>时间</td>
          <td>分类</td>
          <td>目标销售额（元）</td>
          <td>目前完成销售额（元）</td>
          <td>目前完成百分比</td>
          <td>剩余时间（天）</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3">2012.01--2013.01</td>
          <td>服务类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
          <td rowspan="3">5天</td>
        </tr>
        <tr>
          <td>卡类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>
        <tr>
          <td>产品类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>

        <tr>
          <td rowspan="3">2012.01--2013.01</td>
          <td>服务类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
          <td rowspan="3">5天</td>
        </tr>
        <tr>
          <td>卡类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>
        <tr>
          <td>产品类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>

        <tr>
          <td rowspan="3">2012.01--2013.01</td>
          <td>服务类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
          <td rowspan="3">5天</td>
        </tr>
        <tr>
          <td>卡类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>
        <tr>
          <td>产品类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="mask"></div>
<div class="tab_popup" style="display: none;">
  <div class="popup_box">
    <h1>定制目标销售额<a href="javascript:void(0)" class="close">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area">
        <%= form_for :goal,:url=>"/stores/#{params[:store_id]}/month_scores/",:html=>{:id=>"create_goal"},:method=>:POST do%>
          <div class="item">
            <label>开始时间：</label><input name="created" type="text" id="created" />
          </div>
          <div class="item">
            <label>结束时间：</label><input name="ended" type="text" id="ended" />
          </div>
          <div class="clear"></div>
          <h2>
            金额（元）
          </h2>
          <div class="item">
            <label>服务类：</label><input name="service" type="text" id="service" />
          </div>
          <div class="item">
            <label>产品类：</label><input name="product" type="text" id="product" />
          </div>
          <div class="item">
            <label>卡类：</label><input name="card" type="text" id="card" />
          </div>
          <div class="item">
            <label>其他：</label><input name="other" type="text" id="other" />
          </div>
          <div class="item">
            <a href="#" class="item_addItem">+</a>
          </div>
        <% end %>
      </div>
      <div class="btn_box"><button class="confirm_btn" onclick="check_goal()">确定</button></div>
    </div>
  </div>
</div>
