<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
  <thead>
    <tr class="hbg">
      <td>投诉时间</td>
      <td>投诉理由</td>
      <td>投诉要求</td>
      <td>责任人</td>
      <td>相关订单</td>
      <td>处理结果</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.created_at.strftime("%Y-%m-%d %H:%M:%S") if complaint.created_at %></td>
        <td><%= complaint.reason %></td>
        <td><%= complaint.suggestion %></td>
        <td><% if complaint.st_name1 or complaint.st_name2  %>
            <%= (complaint.st_name1 + "，") if complaint.st_name1 %><%= complaint.st_name2 if complaint.st_name2 %>
          <% else %>--
          <% end %>
        </td>
        <td>
          <%= link_to "#{complaint.code}", "/orders/#{complaint.o_id}/order_info" ,
            :remote => "true", "data-type" => "script", :class => "other_a" %>
        </td>
        <td><%= complaint.remark %></td>
        <td>
          <% if complaint.status == Complaint::STATUS[:PROCESSED] %>
            已处理
          <% else %>
            <% if permission?(:customers,:deal_complaint) %>
            <% if complaint.status == Complaint::STATUS[:UNTREATED] %>
              <%= link_to "处理", "/orders/#{complaint.c_id}_#{complaint.o_id}/order_staff" ,
                :remote => "true", "data-type" => "script" %>
            <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%=  will_paginate_remote(@complaints , "",
  {:url => "/stores/#{@store.id}/customers/#{@customer.id}/complaints"}) %>