<div class="data_body_title">
  <div class="data_body_p">
    <span>客户姓名：<%= @customer.name %></span>
    <span>手机号码：<%= @customer.mobilephone %></span>
    <span>其他联系方式：<%= @customer.other_way %></span>
    <span>生日：<%= @customer.birthday.strftime("%Y-%m-%d") if @customer.birthday %></span>
    <span>地址：<%= @customer.address %></span>
    <% if permission?(:customers, :edit) %><span><button type="button" class="compile_btn" onclick="javascript:popup('#edit_cus_div')">编辑</button></span><% end %>
  </div>
  <ul class="data_body_ul">
    <% @car_nums.each do |car| %>
    <li>
      <span>车牌号码：<%= car.num %></span>&nbsp;&nbsp;
      <span>品牌：<%= car.b_name %>——<%= car.m_name %></span>&nbsp;&nbsp;
      <span>购买年份：<%= car.buy_year %></span>
      <span>
        <button type="button" class="compile_btn" 
                onclick="javascript:popup('#edit_car_num_<%= car.c_id %>')">编辑</button>
      </span>
      <%= render :partial => "/customers/edit_car_num", :object => car %>
    </li>
    <% end %>
  </ul>
</div>