<div class="box">
  <%= render :partial => "/customers/show_tips" %>
  <div class="data_box">
    <% if permission?(controller.controller_name.to_sym, :show) %>
      <div class="search">
        <%= form_for :customer ,:url=>"/stores/#{@store.id}/customers/search", :method => "post" do %>
          <div><label>客户属性：</label>
            <select id="c_property" name="c_property">
              <option value="-1" <% if session[:c_property].to_i == -1 %>selected<% end %>>全部</option>
              <option value="0" <% if !session[:c_property].nil? && session[:c_property].to_i == 0 %>selected<% end %>>个人客户</option>
              <option value="1" <% if !session[:c_property].nil? && session[:c_property].to_i == 1 %>selected<% end %>>单位客户</option>
            </select>
          </div>
          <div><label>客户名称：</label><input type="text" name="name" id="name" value="<%= session[:name] %>"/></div>
          <div><label>车牌号码：</label><input type="text" name="car_num" id="car_num" value="<%= session[:car_num] %>"/></div>
          <div><label>手机号码：</label><input type="text" name="phone" id="phone" value="<%= session[:phone] %>"/></div>
          <div><label>最近消费客户：</label>
            <input type="text" name="started_at" id="started_at" value="<%= session[:started_at] %>"
                   class="Wdate" readonly onClick="WdatePicker();"/>&nbsp;到&nbsp;
            <input type="text" name="ended_at" id="ended_at" value="<%= session[:ended_at] %>"
                   class="Wdate" readonly onClick="WdatePicker();"/></div>
          <div>
            <label>性别：</label>
            <select name="c_sex">
              <option value="-1" <% if session[:c_sex].to_i==-1 %>selected<% end %>>全部</option>
              <option value="1" <% if !session[:c_sex].nil? && session[:c_sex].to_i==1 %>selected<% end %>>男</option>
              <option value="0" <% if !session[:c_sex].nil? && session[:c_sex].to_i==0 %>selected<% end %>>女</option>
            </select>
          </div>
          <div><input type="checkbox" name="is_vip" id="is_vip" value="1" <% if session[:is_vip] %>checked<% end %>/>会员</div>
          <input type="hidden" name="store_id" id="store_id" value="<%= @store.id %>" />
          <div><button type="submit" class="search_btn">查询</button></div>
        <% end %>
      </div>
    <% end %>

    <div class="data_body_title">
      <h2 class="data_body_h">
        上月门店满意度 ：<a href="/stores/<%= @store.id %>/complaints/satisfy_degree"><%= "#{satisfy[0]}%" %></a>&nbsp;&nbsp;&nbsp;
        上月门店不满意度 ：<a href="/stores/<%= @store.id %>/complaints"><%= "#{satisfy[1]}%" %></a>
      </h2>
      <p class="data_body_p">客户数量：<span class="red"><%= @customers.total_entries if @customers %></span>位</p>
    </div>
    <div class="data_menu">
      <% if permission?(controller.controller_name.to_sym, :create) %>
        <a href="javascript:void(0)" onclick="javascript:show_new_customer()">新建客户</a>
      <% end %></div>
    <div class="clear"></div>
    <div class="data_body">
      <div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>车牌号码</td>
              <td>客户姓名</td>
              <td>客户属性</td>
              <td>手机号码</td>
              <td>是否会员</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            <% if @customers.any? %>
              <% @customers.each do |customer| %>
                <tr>
                  <td width="20%" class="wordBreak">
                    <% @car_nums[customer.id].each_with_index do |cn, index| %>
                      <span><%= cn.num %><% if index < (@car_nums[customer.id].length - 1) %>，<% end %></span>
                    <% end if @car_nums[customer.id] %>
                  </td>
                  <td width="20%" class="wordBreak"><%= customer.name %></td>
                  <td width="15%" class="wordBreak">
                    <%= customer.property.to_i==Customer::PROPERTY[:PERSONAL] ? "个人客户" : (customer.property.to_i==Customer::PROPERTY[:GROUP] ? "单位客户" : "未知") %>
                  </td>
                  <td width="15%" class="wordBreak"><%= customer.mobilephone %></td>
                  <td width="10%" class="wordBreak">
                    <%= (@is_vips and @is_vips[customer.id] and @is_vips[customer.id][0].is_vip) ? "是" : "否" %>
                  </td>
                  <td width="20%" class="wordBreak">
                    <% if permission?(controller.controller_name.to_sym, :detail) %><a href="/stores/<%= @store.id %>/customers/<%= customer.id %>">详情</a><% end %>
                    <% if permission?(controller.controller_name.to_sym, :remark) %><a href="javascript:void(0)" onclick="customer_mark(<%= customer.id %>)">备注</a><% end %>
                    <% if permission?(controller.controller_name.to_sym, :send_msg) %><a href="javascript:void(0)" onclick="single_send_message(<%= customer.id %>)">发短信</a><% end %>
                    <% if permission?(controller.controller_name.to_sym, :delete) %><%= link_to "删除", "/stores/#{@store.id}/customers/#{customer.id}", :method => :delete,
                        :confirm => "您确认要删除 #{customer.name} 信息么？" %><% end %>
                    <div id="mark_<%= customer.id %>" style="display: none;"><%= customer.mark %></div>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr><td colspan="5">暂无客户信息</td></tr>
            <% end %>
          </tbody>
        </table>
        <%=  will_paginate @customers , :previous_label=>" 上一页", :next_label=>" 下一页", :class => "pageTurn" if @customers.any? %>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "new_customers" %>
<%= render :partial => "customer_mark" %>
<%= render :partial => "single_send_message" %>
<div id="related_order_div"></div>
<div class="tab_popup" id="complaint_detail_tab">
  <div class="popup_box">
    <h1>详情<a href="javascript:void(0)" class="close">关闭</a></h1>
    <div class="popup_body">

    </div>
  </div>
</div>
<div id="process"></div>
