<div class="box">
  <div class="data_box">
    <div class="way_menu"><a href="#">客户列表</a> &gt; 客户详情</div>
    <%= render :partial => "single_customer" %>
    <div class="clear"></div>
    <div class="tab_head">
      <ul>
        <li class="hover">消费记录</li>
        <li>回访记录</li>
        <li>投诉记录</li>
      </ul>
    </div>
    <div class="data_body">
      <div id="order_prods_partial"><%= render :partial => "order_prods_p" %></div>
      <div id="revisits_partial" style="display: none;"><%= render :partial => "revisits" %></div>
      <div id="complaints_partial" style="display: none;"><%= render :partial => "complaints" %></div>
    </div>
  </div>
</div>
<%= render :partial => "edit_customers" %>
<%= render :partial => "customer_revisit" %>
<div id="related_order_div"></div>
<div id="process_complaint_div"></div>