<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>澜泰门店后台管理系统</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application","kucun", "welcome" %>
    <!--[if IE 6]>
    <script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
  </head>

  <body>
    <div class="head">
      <div class="box position_re">
        <div class="logo1"><span>V2.3</span></div>
        <div class="login">你好：<%= cookies[:user_name] %> | <a href="javascript:void(0)" id="edit_password">修改密码</a> | <a href="/logout">退出</a></div>
        <div class="name">
          <span style="display:none;"><input name="" type="text" class="nameInput" onblur="edit_store_name(this, <%= params[:store_id] %>)"/></span>
          <span style="cursor:pointer;" title="点击此处编辑门店名" onclick="set_store_name(this)"><%= cookies[:store_name] %></span><span>后台管理系统</span>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="module">
        <ul>
          <% if permissions_on_menus?(:stations)%><li><a href="/stores/<%= params[:store_id] %>/stations" class="m_one">现场管理</a></li><% end %>
          <% if permissions_on_menus?(:customers)%><li><a href="/stores/<%= params[:store_id] %>/customers" class="m_two">客户管理</a><% if (@complaints.length + @notices.length) > 0 %><a href="#" class="message"><%= @complaints.length + @notices.length %></a><% end %></li><% end %>
          <% if permissions_on_menus?(:materials)%>
            <li>
              <a href="/stores/<%= params[:store_id] %>/materials" class="m_three">库存管理</a>
              <% if (@material_pay_notices.length + @material_orders_send.length + @material_orders_received.length + @low_materials.length) > 0 %>
                <a href="JavaScript:void(0)" class="message"><%= @material_pay_notices.length + @material_orders_send.length + @material_orders_received.length + @low_materials.length %></a>
              <% end %>
            </li><% end %>
          <% if permissions_on_menus?(:datas)%><li><a href="/stores/<%= params[:store_id] %>/market_manages" class="m_four">统计管理</a></li><% end %>
          <% if permissions_on_menus?(:sales)%><li><a href="/stores/<%= params[:store_id] %>/sales" class="m_five">营销管理</a></li><% end %>
          <% if permissions_on_menus?(:staffs)%><li><a href="/stores/<%= params[:store_id] %>/staffs" class="m_six">员工管理</a>
              <% if @violations.length > 0 %><a href="#" class="message"><%= @violations.length%></a><% end %></li><% end %>
            <% if permissions_on_menus?(:base_datas) %>
            <li><a href="/stores/<%= params[:store_id] %>/station_datas" class="m_seven">系统设置</a></li>
          <% end %>
          <% if permissions_on_menus?(:pay_cash) %>
            <li><a href="/stores/<%= params[:store_id] %>/set_stores/cash_register" class="m_eight">收银</a></li>
          <% end %>
          <% if permissions_on_menus?(:base_datas) %>
            <li><a href="/stores/<%= params[:store_id] %>/finance_reports"  class="m_nine">财务管理</a></li>
          <% end %>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
    <%= render :partial => "/shared/tishi_alert" %>
    <div class="foot"><p>Copyright © 2013 杭州鼎洪 版权所有</p></div>

    <!--修改账户密码-->
    <div class="mask"></div>
    <div class="tab_popup" style="display:none;z-index:10;" id="edit_password_area">
      <div class="popup_box">
        <h1>修改密码<a href="javascript:void(0)" class="close">关闭</a></h1>
        <div class="popup_body">
          <form accept-charset="UTF-8" action="/stores/<%= params[:store_id] %>/welcomes/update_staff_password" method="post" data-remote="true" data-type="script">
            <div class="popup_body_area">
              <div class="pressWord_box">
                <h3 class="red"></h3>
                <div class="pw_list"><label>用户名：</label><span><%= @staff.username %></span></div>
                <div class="pw_list"><label>旧密码：</label><input name="old_password" type="password" id="old_password"/></div>
                <div class="pw_list"><label>新密码：</label><input name="new_password" type="password" id="new_password"/></div>
                <div class="pw_list"><label>确认新密码：</label><input name="confirm_password" type="password" id="confirm_password"/></div>
              </div>
              <div class="btn_box"><button class="confirm_btn" id="edit_password_btn">确定</button><button class="cancel_btn">取消</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--浮动QQ客服代码开始 -->
    <div class="online_qq">
      <div></div>
      <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=294220952&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2568830556:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></p>
      <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=910189861&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1942918740:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></p>
      <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=603252795&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2822148527:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></p>
    </div>
    <!--浮动QQ客服代码结束-->
  </body>
</html>