<div class="main">
    <div class="box">
         <div class="data_box">
              <div class="search">
                <input type="hidden" value="<%= @store.id %>" id="store_id"/>
                   <div>
                     <form action="/stores/<%= @store.id %>/current_month_salaries" method="get">
                     统计时间：<select name="statistics_date" id="statistics_date_select">
                       <option value="2013-03" <%= @statistics_date.eql?('2013-03') ? "selected" : "" %>>2013-03</option>
                       <option value="2013-02" <%= @statistics_date.eql?('2013-02') ? "selected" : "" %>>2013-02</option>
                       <option value="2013-01" <%= @statistics_date.eql?('2013-01') ? "selected" : "" %>>2013-01</option>
                       <option value="2012-12" <%= @statistics_date.eql?('2012-12') ? "selected" : "" %>>2012-12</option>
                     </select>
                     </form>
                   </div>
                <div><button class="search_btn">导出EXCEL</button><%= link_to "导出EXCEL", url_for(:format => 'xls') %></div>
              </div>
              <div class="clear"></div>
              <div class="data_body" id="salary_info">
                   <div>
                       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
                           <thead>
                                <tr class="hbg">
                                  <td><span class="sort_u">姓名</span></td>
                                  <td>职务</td>
                                  <td>底薪</td>
                                  <td><span class="sort_u">提成金额</span></td>
                                  <td><span class="sort_d">扣款金额</span></td>
                                  <td>总额</td>
                                  <td>操作</td>
                                </tr>
                            </thead>
                            <tbody>
                              <% @staffs.each do |staff| %>
                                <tr>
                                  <td><%= staff.name %></td>
                                  <td><%= Staff::N_COMPANY[staff.position] %></td>
                                  <td><%= staff.base_salary.to_i %></td>
                                  <% salary = staff.salaries.where("current_month = #{(@statistics_date.delete '-').to_i}").first %>
                                  <td>
                                    <span class="reward_num_text"><%= salary.reward_num unless salary.nil? %></span>
                                    <input name="" type="text" value="<%= salary.reward_num unless salary.nil? %>" class="data_input_s reward_num_input" style="display: none;"/>
                                  </td>
                                  <td>
                                    <span class="deduct_num_text"><%= salary.deduct_num unless salary.nil? %></span>
                                    <input name="" type="text" value="<%= salary.deduct_num unless salary.nil? %>" class="data_input_s deduct_num_input" style="display: none;"/>
                                  </td>
                                  <td><%= salary.total.to_i unless salary.nil? %></td>
                                  <td>
                                    <a href="javascript:void(0)" class="edit_reward_deduct_submit" style="display: none;" id="<%= salary.id unless salary.nil? %>">提交</a>
                                    <a href="javascript:void(0)" class="bz_btn">编辑</a>
                                    <%= link_to "详细", store_current_month_salary_path(@store, staff) %>
                                  </td>
                                </tr>
                              <% end %>
                                <tr>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                </tr>
                            </tbody>
                      </table>
                   </div>
              </div>
         </div>
    </div>
</div>
<div class="foot"><p>Copyright © 2013 杭州澜泰 版权所有</p></div>