<div>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_tab_table">
       <thead>
            <tr class="hbg">
              <td>条形码</td>
              <td><span class="sort_u">物料名称</span></td>
              <td>单价（元）</td>
              <td>数量</td>
            </tr>
        </thead>
        <tbody>
            <% @mat_order_items.each_with_index do |mat_order_item, index| %>
              <tr class="<%= index%2 == 0 ? '' : 'tbg' %>">
                <td><%= mat_order_item.material.code %></td>
                <td><%= mat_order_item.material.name %></td>
                <td><%= mat_order_item.price %></td>
                <td><%= mat_order_item.material_num %></td>
              </tr>
            <% end %>
        </tbody>
  </table>
</div>