<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="materials_out_tab">
  <thead>
  <tr class="hbg">
    <th width="150">条形码</th>
    <th width="120"><span class="sort_u" onclick="sort_change(this)">物料名称</span></th>
    <th>出库类型</th>
    <th><span class="sort_d" onclick="sort_change(this)">物料类别</span></th>
    <th width="100">申请人</th>
    <th width="80">出库量</th>
    <th>成本价（元）</th>
    <th>零售价（元）</th>
    <th>出库时间</th>
  </tr>
  </thead>
  <tbody>
  <% (@mat_out_records || []).each do |out| %>
      <tr class="<%= cycle('', 'tbg') %>">
        <td><%= out.code %></td>
        <td><%= out.name %></td>
        <td><%= MatOutOrder::TYPES[out.out_types] %></td>
        <td><%= Material::TYPES_NAMES[out.types.to_i] %></td>
        <td><%= out.staff_name %></td>

        <td><%= out.material_num.to_i %></td>
        <td><%= out.out_price %></td>
        <td><%= out.sale_price %></td>
        <td><%= out.out_time.strftime("%Y-%m-%d %H:%M") unless out.out_time.nil?%></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate_remote(@mat_out_records,"start_date=#{@start_date}&end_date=#{@end_date}&mat_types=#{@mat_type}",{:url => page_outs_store_material_order_manages_url(params[:store_id]),:class => "pageTurn",:prev_label => "上一页",:next_label => "下一页",:renderer => "RemotePaginateHelper::LinkRenderer"}) if @mat_out_records.size > 0 %>