<script>
    $(document).ready(function(){
        $("#materials_tab_table").tablesorter({
            headers:
            {
                0: {
                    sorter: false
                },
                3: {
                    sorter: false
                },
                4: {
                    sorter: false
                },
                5: {
                    sorter: false
                },
                6: {
                    sorter: false
                }
            }
        });

        $("#materials_tab_table").bind("sortEnd",function() {
            $("#materials_tab_table tbody").find('tr').each(function(i){
                if(i%2==0){
                    $(this).removeClass('tbg');
                }else{
                    $(this).addClass('tbg');
                }
            })
        });
    });
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="materials_tab_table">
  <thead>
  <tr class="hbg">
    <th width="150">条形码</th>
    <th width="100"><span class="sort_u" onclick="sort_change(this)">物料名称</span></th>
    <th width="100"><span class="sort_d" onclick="sort_change(this)">物料类别</span></th>
    <th width="50">库存量</th>
    <th width="120">规格</th>
    <th width="100">成本价（元）</th>
    <th width="100">零售价（元）</th>
  </tr>
  </thead>
  <tbody>
  <% if @all_unsalable_materials.length != 0 %>
      <% (@unsalable_materials || []).each do |material| %>
          <tr class="<%= cycle('', 'tbg') %>" id="showmaterial<%= material.id %>tr">
            <td <% if !material.is_ignore && material.storage.to_i<=material.material_low.to_i %>class="data_table_error"<% end %>>
              <%= material.code %>
            </td>
            <td><%= material.name %></td>
            <td><%= Material::TYPES_NAMES[material.types.to_i] %></td>
            <td class="su"><span class="storage" id="showmaterial<%= material.id %>span"><%= material.storage.to_i %></span></td>
            <td><%= material.unit %></td>
            <td><%= material.price %></td>
            <td><%= material.sale_price %></td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan="8" align="center">暂无查询结果</td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate_remote(@unsalable_materials,"start_date=#{@start_date}&end_date=#{@end_date}&mat_types=#{@mat_type}&sale_num=#{@sale_num}",{:url=>page_unsalable_materials_store_material_order_manages_url(@store), :class => "pageTurn",:prev_label => "上一页",:next_label => "下一页", :renderer => "RemotePaginateHelper::LinkRenderer"}) if @unsalable_materials.size > 0 %>
