<div class="second_menu">
  <% if permission?(:datas, :chengben) %><%= link_to "成本统计", store_material_order_manages_path(@store) ,:class => ""  %><% end %>
  <% if permission?(:datas, :ruchuku) %><%= link_to "入/出库查询", mat_in_or_out_query_store_material_order_manages_path(@store), :class=> "" %><% end %>
  <% if permission?(:datas, :zhixiao) %><%= link_to "滞销统计", unsalable_materials_store_material_order_manages_path(@store), :class => "hover" %><% end %>
</div>
<%= form_tag search_unsalable_materials_store_material_order_manages_url(params[:store_id]),:id => "search_unsalable_materials" do |f|  %>
    <div class="search">
      <div>
        <label>开始时间：</label>
        <input id="start_date" type="text" value="<%= @start_date %>"  onclick="WdatePicker()" class="Wdate" readonly />
      </div>
      <div>
        <label>结束时间：</label>
        <input id="end_date"  type="text" value="<%=  @end_date  %>" onclick="WdatePicker()" class="Wdate" readonly />
      </div>
      <div>
        <label>物料类型：</label>
        <select style="width: 80px;" id="mat_types" value="<%= @mat_type%>">
          <option value="" selected="selected">全部</option>
          <% Material::TYPES_NAMES.each do |types| %>
              <option value="<%= types[0] %>"><%= types[1] %></option>
          <% end %>
        </select>
      </div>
      <div>
        <label>销售数量低于：</label>
        <select value="<%= @sale_num %>" style="width: 80px;" id="sale_num">
          <option value="1" selected="selected">1件</option>
          <% (2..100).each do |num| %>
          <option value="<%= num %>"><%= num %>件</option>
          <% end %>
        </select>
      </div>
      <div><button type="button" class="confirm_btn" onclick="search_unsalable_materials('<%= params[:store_id] %>',this);">查询</button></div>
    </div>
<% end  %>
<div id="unsalable_materials_div">
    <%= render :partial => "material_order_manages/unsalable_materials_list"%>
</div>