<div class="h_finnace_title">
  <ul title="<%=  @pays.select{|k,v| OrderPayType::FINCANCE_TYPES.keys.include? k}.map{|k,v|"#{OrderPayType::PAY_TYPES_NAME[k]}:#{v.to_f.round(2)}"}.join("&nbsp&nbsp&nbsp").html_safe%>">本期销售收入&nbsp&nbsp&nbsp
    <% pay_reward = @pays.select{|k,v| !OrderPayType::FINCANCE_TYPES.keys.include? k}.values.compact %>
    <% unless pay_reward.blank? %>
      <li>优惠：<span><%= pay_reward.inject(0){|sum,n|sum+n}.round(2)%></span></li>
    <% end %>
    <% li_arr = [];
    @pays.select{|k,v| OrderPayType::FINCANCE_TYPES.keys.include? k}.map{|k,v|li_arr << "<li>#{OrderPayType::PAY_TYPES_NAME[k]}:<span>#{v.to_f.round(2)}</span></li>"}%>
    <%= li_arr[0..4].join("&nbsp&nbsp").html_safe %>
  </ul>
</div>
<% unless @orders.blank? %>
  <% @orders.each do|order| %>
    <div class="data_item_list">
      <div class="di_list_l"><input id="print_<%=order.id%>" type="checkbox" value="<%=order.id%>" /></div>
      <div class="di_list_r">
        <div class="register">
          <div class="finnace_single_title">
            <ul>
              <li>单号：<span><%= order.code %></span></li>
              <li>付款方式：&nbsp&nbsp&nbsp<%=  if order.status == Order::STATUS[:RETURN]
                  "<span>已退单<span>".html_safe
                else
                  @pay_types[order.id].nil? ? "--"  :
                    @pay_types[order.id].select{|k,v| OrderPayType::FINCANCE_TYPES.keys.include? k}.map{|k,v|"#{OrderPayType::PAY_TYPES_NAME[k]}:<span>#{v.to_f.round(2)}</span>"}.join("&nbsp&nbsp&nbsp").html_safe
                end%></li>
            </ul>
          </div>
          <div class="merchant">
            <ul>
              <li><strong>接待员：</strong><%= @staffs[order.front_staff_id] %></li>
              <li><strong>技师：</strong><%=[@staffs[order.cons_staff_id_1],@staffs[order.cons_staff_id_2]].compact.uniq.join("、")%></li>
              <li><strong>开单时间：</strong><%=  order.created_at.nil? ? "--" : order.created_at.strftime("%Y-%m-%d %H:%M")%></li>
              <li><strong>付款时间：</strong><%=  order.updated_at.nil? ? "--" : order.updated_at.strftime("%Y-%m-%d %H:%M")%></li>
              <li><strong>车牌：</strong><%=  order.c_num  %></li>
              <li><strong>客户姓名：</strong><%=  order.c_name  %></li>
              <li><strong>手机号码：</strong><%= order.phone %></li>
              <li><strong>单位：</strong><%= order.group_name.nil? ? "--" : order.group_name %></li>
            </ul>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
              <thead>
                <tr class="hbg">
                  <td>项目</td>
                  <td>数量</td>
                  <td>单价</td>
                  <td>优惠</td>
                  <td>合计</td>
                </tr>
              </thead>
              <tbody>
                <% loss = @pay_types[order.id].nil? ? 0.round(2) : @pay_types[order.id].select{|k,v|OrderPayType::LOSS.include? k}.values.inject(0){|sum,n|sum+n}.round(2) %>
                <%  fact = order.price>loss ? (order.price-loss).round(2) : 0.round(2)%>
                <%@order_prods[order.id].each do |prod|%>
                  <tr>
                    <td><%= prod.name %></td>
                    <td><%= prod.pro_num %></td>
                    <td><%= prod.price.round(2) %></td>
                    <td><%=  loss  %></td>
                    <td><%= fact %></td>
                  </tr>
                <% end if @order_prods[order.id] %>
              </tbody>
            </table>
            <div class="accounts">
              <ul><li>总计：<%= fact %></li></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="pageTurn">
    <%= will_paginate @orders,:class=>"pageTurn",:previous_label=>"上一页",:next_label=>"下一页" unless  @orders.blank?%>
  </div>
<%end%>
