<div>
   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
       <thead>
            <tr class="hbg">
              <td>单号</td>
              <td>日期</td>
              <td>内容</td>
              <td>收入（元）</td>
              <td>支出（元）</td>
              <td>总店未支付储值卡余额（元）</td>
            </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= link_to "#{order.code}", "/orders/#{order.id}/order_info",
                  :remote => "true", "data-type" => "script" %></td>
              <td><%= order.created_at.strftime("%Y.%m.%d--%H:%M") %></td>
              <td><%= get_products_name(order).join(",") %></td>
              <% svc_return_record = get_svc_return_record(order.id, @store.id) %>
              <td><%= svc_return_record.total_price unless svc_return_record.nil? %></td>
              <td>-<%= svc_return_record.price unless svc_return_record.nil? %></td>
              <td><%= (svc_return_record.total_price - svc_return_record.price) unless svc_return_record.nil? %></td>
            </tr>
          <% end %>
        </tbody>
  </table>
  <div class="amount">总店未支付储值卡余额  总计：<%= @total %>（元）</div>
</div>