<script type="text/javascript">
    $(function(){
        $(".people_group li").hover(
                function(){
                    $(this).find(".group_func").css("display","block");
                    $(this).find(".group_x").css("display","block");
                },
                function(){
                    $(this).find(".group_func").css("display","none");
                    $(this).find(".group_x").css("display","none");
                }
        );
        $('.groupFunc_h li').bind('click',function(){
            $(this).addClass('hover').siblings().removeClass('hover');
            var index = $('.groupFunc_h li').index(this);
            $('.groupFunc_b > div').eq(index).show().siblings().hide();
        });
    });
</script>
<%= form_tag set_role_store_roles_url(params[:store_id]), :id => "role_form" do %>
<div class="groupFunc_area">
  <ul class="groupFunc_h">
    <li class="hover">菜单</li>
    <li>功能</li>
  </ul>
  <div class="groupFunc_b">
    <div>
      <ul>
        <% (@menus || []).each do |menu| %>
            <% check = menu.role_id.nil? ? false : true %>
            <li><%= check_box_tag "menu_check_#{menu.id}",menu.id,check %><%= menu.name %></li>
        <% end %>
      </ul>
    </div>
    <div style="display: none;">
      <%# (@menus || []).each do |menu| %>
      <% Constant::ROLES.each do |k, v| %>
      <dl>
        <dt><%= v[:name] %><%#= menu.name %>模块</dt>
        <% v.each do |k1, v1| %>
        <dd><%= check_box_tag "" %><%= v1[0] %></dd>
        <% end %>
        <%# (Constant::ROLES[menu.controller.to_sym] || []).each do |key,val| %>
            <%# check = role_model(@role_model_relations,val[1],menu.controller)  %>
       <%#= check_box_tag "func_check_#{menu.id}_#{menu.controller}",menu.controller.to_s + "_" + val[1].to_s,check %><%#= val[0] %>
        <%# end %>
      </dl>
      <% end %>
      <%# end %>
    </div>
  </div>
</div> <%= hidden_field_tag "set_role_id","" %>
<div class="btn_box"><button type="button" onclick="submit_role_form()" class="confirm_btn">确定</button><button type="button" onclick="cancel_role_panel()" class="cancel_btn">取消</button></div>
<% end %>