<script>
    $(document).ready(function(){
        $(".pageTurn a").unbind("click");
        $(".pageTurn a").bind("click", function() {
            var url = this.href;
            $.ajax({
                async:true,
                url:this.href,
                dataType:"script",
                type:"GET",
                success:function(){
                    // alert(1);
                },error:function(){
                    // alert("error");
                }
            });
            /* alert(this.href); */
            return false;
        });

        $("#materials_in_tab").tablesorter({
        headers:
        {
            0: {
                sorter: false
            },
            1: {
                sorter: false
            },
            4: {
                sorter: false
            },
            5: {
                sorter: false
            },
            6: {
                sorter: false
            },
            7: {
                sorter: false
            }
        }
    });
    
    });
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="materials_in_tab">
  <thead>
  <tr class="hbg">
    <th>订货单号</th>
    <th width="150">条形码</th>
    <th><span class="sort_u">物料名称</span></th>
    <th><span class="sort_d">物料类别</span></th>
    <th>入库量</th>
    <th>操作人</th>
    <th>入库时间</th>
  </tr>
  </thead>
  <tbody>
  <% (@in_records || []).each do |record| %>
      <tr>
        <td><%= record.order_code %></td>
        <td><%= record.code %></td>
        <td><%= record.name %></td>
        <td><%= Material::TYPES_NAMES[record.types.to_i] %></td>
        <td><%= record.material_num.to_i %></td>
        <td><%= record.staff_name %></td>
        <td><%= record.out_time.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate_remote(@in_records,"",{:url => page_ins_store_materials_url(params[:store_id]),:class => "pageTurn",:prev_label => "上一页",:next_label => "下一页",:renderer => "RemotePaginateHelper::LinkRenderer"}) if @in_records.size > 0 %>