<div class="popup_box">
  <h1>编辑物料<a href="javascript:void(0)" class="close">关闭</a></h1>
  <div class="popup_body">
    <%= form_for [@current_store, @material], :id => "material_tab_form", :remote => true, :html => {"data-type" => "script"} do |f| %>
      <div class="popup_body_area">
        <div class="mat_search_result">
          <div class="item">
            <label><span class='red'>*</span>物料名称：</label>
            <%= text_field_tag 'material[name]', @material.name %>
          </div>
          <div class="item">
            <label><span class='red'>*</span>物料类型：</label>
            <%= select("material", "types",  Material::TYPES_NAMES.invert, {:prompt => "请选择"}) %>
          </div>
          <div class="item">
            <label><span class='red'>*</span>成本价：</label>
            <%= text_field_tag 'material[price]', permission?(:materials, :show_sale) ? @material.price : 0 %>
          </div>
          <div class="item">
            <label><span class='red'>*</span>零售价：</label>
            <%= text_field_tag 'material[sale_price]', @material.sale_price %>
          </div>
          <div class="item">
            <label><span class='red'>*</span>规格：</label>
            <%= text_field_tag 'material[unit]', @material.unit,  :placeholder => "件" %>
          </div>
        </div>

      </div>
      <div class="btn_box"><button type="button" onclick="checkMaterial(this)" id="material_ce_bn" class="confirm_btn">确定</button></div>
      <div class="clear"></div>
    <% end %>
  </div>
</div>