<script>
    $(document).ready(function(){
        $(".pageTurn a").unbind("click");
        $(".pageTurn a").bind("click", function() {
            var url = this.href;
            $.ajax({
                async:true,
                url:this.href,
                dataType:"script",
                type:"GET",
                success:function(){
                    // alert(1);
                },error:function(){
                    // alert("error");
                }
            });
            /* alert(this.href); */
            return false;
        });

       $("#materials_out_tab").tablesorter({
        headers:
        {
            0: {
                sorter: false
            },
            3: {
                sorter: false
            },
            4: {
                sorter: false
            },
            5: {
                sorter: false
            },
            6: {
                sorter: false
            },
            7: {
                sorter: false
            }
        }
    });
    });
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="materials_out_tab">
  <thead>
  <tr class="hbg">
    <th width="150">条形码</th>
    <th><span class="sort_u">物料名称</span></th>
    <th><span class="sort_d">物料类别</span></th>
    <th>申请人</th>
    <th>出库量</th>
    <th>成本价（元）</th>
    <th>出库时间</th>
  </tr>
  </thead>
  <tbody>
  <% (@out_records || []).each do |out| %>
      <tr>
        <td><%= out.code %></td>
        <td><%= out.name %></td>
        <td><%= Material::TYPES_NAMES[out.types.to_i] %></td>
        <td><%= out.staff_name %></td>
        <td><%= out.material_num.to_i %></td>
        <td><%= out.out_price %></td>
        <td><%= out.out_time.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate_remote(@out_records,"",{:url => page_outs_store_materials_url(params[:store_id]),:class => "pageTurn",:prev_label => "上一页",:next_label => "下一页",:renderer => "RemotePaginateHelper::LinkRenderer"}) if @out_records.size > 0 %>