<script>
  $(document).ready(function(){
    $("#page_out_records .pageTurn a").unbind("click");
    $("#page_out_records .pageTurn a").bind("click", function() {
      var url = this.href;
      $.ajax({
        async:true,
        url:this.href,
        dataType:"script",
        type:"GET",
        success:function(){
          // alert(1);
        },error:function(){
          // alert("error");
        }
      });
      /* alert(this.href); */
      return false;
    });

    $("#materials_out_tab").tablesorter({
      headers:
        {
        0: {
          sorter: false
        },
        2: {
          sorter: false
        },
        4: {
          sorter: false
        },
        5: {
          sorter: false
        },
        6: {
          sorter: false
        },
        7: {
          sorter: false
        }
      }
    });
    //after sort
    $("#materials_out_tab").bind("sortEnd",function() {
      $("#materials_out_tab tbody").find('tr').each(function(i){
        if(i%2==0){
          $(this).removeClass('tbg');
        }else{
          $(this).addClass('tbg');
        }
      })
    });
  });
</script>
<div class="collect">
  <ul>
    <li>出库记录：<span><%= @out_arr[0] %></span>条</li>
    <li>金额：<span><%= format("%.2f", @out_arr[1]) if @out_arr[1] %></span></li>
  </ul>
</div>

  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="materials_out_tab">
    <thead>
      <tr class="hbg">
        <th width="150">条形码</th>
        <th width="120"><span class="sort_u" onclick="sort_change(this)">物料名称</span></th>
        <th>出库类型</th>
        <th><span class="sort_d" onclick="sort_change(this)">物料类别</span></th>
        <th width="100">申请人</th>
        <th width="80">出库量</th>
        <th>成本价（元）</th>
        <th>零售价（元）</th>
        <th>出库时间</th>
      </tr>
    </thead>
    <tbody>
      <% (@out_records || []).each do |out| %>
        <tr class="<%= cycle('', 'tbg') %>">
          <td><%= out.code %></td>
          <td><%= out.name %></td>
          <td><%= MatOutOrder::TYPES[out.out_types] %></td>
          <td><%= out.cname %></td>
          <td><%= out.staff_name %></td>

          <td><%= out.material_num.to_i %></td>
          <td><%= permission?(:materials, :show_sale) ? out.out_price : 0%></td>
          <td><%= out.sale_price %></td>
          <td><%= out.out_time.strftime("%Y-%m-%d %H:%M") unless out.out_time.nil?%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= will_paginate_remote(@out_records,"mat_code=#{@mat_code}&mat_name=#{@mat_name}&mat_type=#{@mat_type}",{:url => page_outs_store_materials_url(params[:store_id]),:class => "pageTurn",:prev_label => "上一页",:next_label => "下一页",:renderer => "RemotePaginateHelper::LinkRenderer"}) if @out_records.size > 0 %>