<script>
    $(document).ready(function(){
        $(".pageTurn a").unbind("click");
        $(".pageTurn a").bind("click", function() {
            var url = this.href;
            $.ajax({
                async:true,
                url:this.href,
                dataType:"script",
                type:"GET",
                success:function(){
                    // alert(1);
                },error:function(){
                    // alert("error");
                }
            });
            /* alert(this.href); */
            return false;
        });
    });
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
  <thead>
  <tr class="hbg">
    <td>条形码</td>
    <td>物料名称</td>
    <td>物料类别</td>
    <td>库存状态</td>
    <td>库存量（个）</td>
    <td>成本价（元）</td>
    <td>盘点实数</td>
    <td>操作</td>
  </tr>
  </thead>
  <tbody>
<% (@materials_storages || []).each do |material| %>
      <tr style="background-color: <%if material.storage.to_i == 0 %>red;<% end %>">
        <td><%= material.code %></td>
        <td><%= material.name %></td>
        <td><%= Material::TYPES_NAMES.to_a[material.types.to_i][1] %></td>
        <td><%= material.storage.to_i > 0 ? "存货" : "缺货" %></td>
        <td><%= material.storage.to_i %></td>
        <td><%= material.price %></td>
        <td><%= text_field_tag "check_num_#{material.id}",material.check_num.to_i,{:style =>"width:50px;"} %></td>
        <td><%= link_to_function "备注", "add_material_remark(#{material.id},'#{material.remark}')", :class => "bz_btn" %>
          <%= link_to_function "核实","check_material_num(#{material.id},#{material.storage.to_i})" %></td>
      </tr>
<% end %>
  </tbody>
</table>
<%= will_paginate_remote(@materials_storages,"",{:url => page_materials_store_materials_url(params[:store_id]),:class => "pageTurn",:prev_label => "上一页",:next_label => "下一页",:renderer => "RemotePaginateHelper::LinkRenderer"}) if @materials_storages.size > 0 %>