<%= render :partial => "notice_panel" %>
<div class="data_box">
  <div class="data_menu">
    <%= link_to_function "添加物料", "addMaterial()", :class => "am_btn" %>
    <% if permission?(:materials, :in) %><%= link_to_function "入库","ruku()", :class => "rk_btn" %><% end %>
    <% if permission?(:materials, :out) %><%= link_to_function "出库","chuku()", :class => "ck_btn" %><% end %>
    <% if permission?(:materials, :dinghuo) %><%= link_to_function "订货", "dinghuo(0)", :class => "dh_btn" %><% end %>
    <% if permission?(:materials, :print) %><%= link_to "打印库存清单",print_store_materials_path(params[:store]), :class => "",:target => "_blank" %><% end %>
    <% if permission?(:materials, :check) %><%= link_to_function "批量盘点", "checkMatNum()" %><% end %>
    <%= link_to_function "设置库存预警", "setMaterialLow()", :class => "" %>
  </div>
  <div class="clear"></div>
  <div class="tab_head">
    <ul>
      <li class="hover">库存列表</li>
      <li>出库记录</li>
      <li>入库记录</li>
      <li>向总部订货记录</li>
      <li>向供应商订货记录</li>
    </ul>
  </div>
  <div class="data_body">
    <div>
      <%= render :partial => "liebiao_panel" %>
    </div>
    <div style="display: none;" id="page_outs">
      <%= render :partial => "out_records_panel" %>
    </div>
    <div style="display: none;" id="page_ins">
      <%= render :partial => "in_records_panel" %>
    </div>
    <div style="display: none;">
      <%= render :partial => "head_orders_panel" %>
    </div>
    <div style="display: none;">
      <%= render :partial => "supplier_orders_panel" %>
    </div>
  </div>
</div>
<div class="mask"></div>
<!--tab-->
<div class="tab_popup beizhu_tab" id="remark_div">
</div>

<div class="tab_popup add_material_tab" id="add_material_tab">
  <div class="popup_box">
    <h1>添加物料<a href="javascript:void(0)" class="close">关闭</a></h1>
    <div class="popup_body">
      <%= form_tag "/stores/#{params[:store_id]}/materials/add_material", :id => "add_material_tab_form" do |f| %>
        <div class="popup_body_area">
          <div class="item">
            <%= label_tag "materials[name]","物料名称：" %><%= text_field_tag "materials[name]" %>
          </div>
          <div class="item">
            <%= label_tag "materials[types]","物料类型：" %><%= select(:materials,:types,material_types,{:prompt => "请选择"}) %>
          </div>
          <div class="item">
            <%= label_tag "materials[code]","条形码：" %><%= text_field_tag "materials[code]" %>
          </div>
          <div class="item">
            <%= label_tag "materials[price]","单价：" %><%= text_field_tag "materials[price]" %>
          </div>
          <div class="item">
            <%= label_tag "materials[storage]","数量：" %><%= text_field_tag "materials[storage]" %>
          </div>
        </div>
        <div class="btn_box"><button type="button" onclick="checkMaterial(this, <%= params[:store_id] %>)" class="confirm_btn">确定</button></div>
        <div class="clear"></div>
      <% end %>
    </div>
  </div>
</div>
<div class="tab_popup" id="setMaterialLow">
<div class="popup_box" >
  <h1>设置库存预警<a href="javascript:void(0)" class="close">关闭</a></h1>
  <div class="popup_body">
    <%= form_tag "/stores/#{@current_store.id}/materials/set_material_low_commit" do %>
    <div class="popup_body_area">
      <div class="item" >    
        <%= label_tag "库存预警值:" %>&nbsp;<%= text_field_tag "material_low_value", @current_store.material_low.to_i %>
      </div>
    </div>
    <div class="btn_box">
      <button type="commit" onclick="return set_validate()" class="confirm_btn" id="set_material_low_commit_button">确定</button>
    </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>
</div>

<div class="tab_popup ruku_tab" id="ruku_tab">
  <div class="popup_box">
    <h1>入库<a href="javascript:void(0)" class="close">关闭</a></h1>
    <div class="popup_body">
      <%= form_tag store_materials_url(params[:store_id]), :id => "ruku_tab_form" do |f| %>
        <div class="popup_body_area">
          <div class="item">
            <%= label_tag "name","物料名称：" %><%= text_field_tag "name" %>
          </div>
          <div class="item">
            <%= label_tag "types","物料类型：" %><%= select(:material,:types,material_types,{:prompt => "请选择"}) %>
          </div>
          <div class="item">
            <%= label_tag "code","订货单号：" %><%= text_field_tag "code" %>
          </div>
          <div class="item">
            <%= label_tag "barcode","条形码：" %><%= text_field_tag "barcode" %>
          </div>
          <div class="item">
            <%= label_tag "price","单价：" %><%= text_field_tag "price" %>
          </div>
          <div class="item">
            <%= label_tag "num","数量：" %><%= text_field_tag "num" %>
          </div>
        </div>
        <%= hidden_field_tag "hidden_store_id", params[:store_id] %>
        <div class="btn_box"><button onclick="commit_in(this)" type="button" class="confirm_btn">确定</button></div>
        <div class="clear"></div>
      <% end %>
    </div>
  </div>
</div>

<div class="tab_popup chuku_tab" id="chuku_tab">
  <div class="popup_box">
    <h1>出库<a href="javascript:void(0)" class="close">关闭</a></h1>
    <%= form_tag out_order_store_materials_url(params[:store_id]), :id => "out_order_form" do |f| %>
      <div class="popup_body">
        <div class="popup_body_area">
          <%= render :partial => "/common/search_panel", :object => @type %>
          <div class="pq pq_mb"></div>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_tab_table">
            <thead>
              <tr class="hbg">
                <td>物料名称</td>
                <td>物料类别</td>
                <td>库存量（个）</td>
                <td>出库量（个）</td>
                <td>操作</td>
              </tr>
            </thead>
            <tbody id="selected_materials"></tbody>
          </table>
          <div class="search"><%= hidden_field_tag "selected_items" %>
            <div><%= label_tag "staff","申请人：" %><%= select_tag "staff", options_from_collection_for_select(@staffs,"id","name") %></div>
          </div>
        </div>
        <div class="btn_box"><%= button_to_function "确定","submit_out_order('out_order_form')", :class => "confirm_btn" %>
        </div>
        <div class="clear"></div>
      </div>
    <% end %>
  </div>
</div>

<div class="tab_popup beizhu_tab" id="order_remark_div">

</div>
<div class="tab_popup" id="zhifu_tab">
  <div class="popup_box">
    <h1>付款<a href="javascript:void(0)" class="close">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area">
        <div class="fukuan_btn">
          <%= hidden_field_tag "pay_order_id","0" %>
          <span><a href="javascript:void(0)" class="zfb" onclick="pay_material_order('zhifu_tab', 1,<%= params[:store_id] %>)"></a></span>
          <span><button class="confirm_btn" type="button" onclick="if(confirm('确认已付款了吗？')){pay_material_order('zhifu_tab', 3,<%= params[:store_id] %>)}">现金</button></span>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div class="tab_popup" id="alipay_confirm">
  <div class="popup_box">
    <h1>支付宝付款<a href="javascript:void(0)" class="close">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area">
        <div style="text-align:center">完成付款后请根据你的情况点击下面的按钮:</div>
        <div class="fukuan_btn">
          <%= hidden_field_tag "pay_order_id","0" %>
          <span><a href="javascript:void(0)" class="confirm_btn" onclick="pay_material_order('alipay_confirm',1,<%= params[:store_id] %>)">重新付款</a></span>
          <span><button class="confirm_btn" type="button" onclick="window.location.reload()">支付完成</button></span>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>

<div class="tab_popup xiangqing_tab" id="mat_order_detail_tab">
  <div class="popup_box">
    <h1>详情<a href="javascript:void(0)" class="close">关闭</a></h1>
    <div class="popup_body">

    </div>
  </div>
</div>
<%= render :partial => "dinghuo_panel" %>

<div class="tab_popup" id="batch_check_tab">
  <div class="popup_box">
    <h1>批量核实<a href="javascript:void(0)" class="close">关闭</a></h1>
    <hr></hr>
    <%= form_tag "/upload_checknum", :remote => true, :multipart => true  do |f|%>
      <input type="file" name="check_file"/>
      <button class="confirm_btn" type="submit">上传文件</button>
    <% end %>
    <%= form_tag "/stores/#{params[:store_id]}/materials/batch_check" do |f|%>
      <div class="popup_body">
        <%= hidden_field_tag "store_id", params[:store_id] %>
        <div class="popup_body_area">
          <div class="file_data">
            
          </div>
          <div class="btn_box"><button onclick="return confirm('确定核实？')" type="submit" class="confirm_btn">确定</button></div>
          <div class="clear"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
<% if @status %>
      $('div.tab_head li').eq(3).addClass('hover').siblings().removeClass('hover');
      $('div.data_body > div').eq(3).show().siblings().hide();
      $('#select_h_order').find("option[value=1]").attr('selected', 'selected');
<% end %>
<% if @mat_in %>
      $("a.am_btn").click();
<% end %>
  })
</script>

