<%= render :partial => "notice_panel" %>
<div class="data_box">
  <div class="data_menu">
    <% if permission?(:materials, :in) %><%= link_to_function "入库","ruku()", :class => "rk_btn" %><% end %>
    <% if permission?(:materials, :out) %><%= link_to_function "出库","chuku()", :class => "ck_btn" %><% end %>
    <% if permission?(:materials, :dinghuo) %><%= link_to_function "订货", "dinghuo()", :class => "dh_btn" %><% end %>
    <% if permission?(:materials, :print) %><%= link_to "打印库存清单",print_store_materials_path(params[:store]), :class => "",:target => "_blank" %><% end %>
  </div>
  <div class="clear"></div>
  <div class="tab_head">
    <ul>
      <li class="hover">库存列表</li>
      <li>出库记录</li>
      <li>入库记录</li>
      <li>向总部订货记录</li>
      <li>向供应商订货记录</li>
    </ul>
  </div>
  <div class="data_body">
    <div>
      <%= render :partial => "liebiao_panel" %>
    </div>
    <div style="display: none;" id="page_outs">
      <%= render :partial => "out_records_panel" %>
    </div>
    <div style="display: none;" id="page_ins">
      <%= render :partial => "in_records_panel" %>
    </div>
    <div style="display: none;">
      <%= render :partial => "head_orders_panel" %>
    </div>
    <div style="display: none;">
      <%= render :partial => "supplier_orders_panel" %>
    </div>
  </div>
</div>
<div class="mask"></div>
<!--tab-->
<div class="tab_popup beizhu_tab" id="remark_div">
  <div class="popup_box">
    <h1>备注<a href="#" class="close">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area">
        <%= hidden_field_tag "material_id" %>
        <%= text_area_tag "remark","",{:rows => 7,:cols => 30, :class => "beizhu_textarea"} %>
      </div>
      <div class="btn_box"><%= button_to_function "确定","save_material_remark()",{:class => "confirm_btn"} %><button class="cancel_btn">取消</button></div>
    </div>
  </div>
</div>

<div class="tab_popup ruku_tab" id="ruku_tab">
  <div class="popup_box">
    <h1>入库<a href="#" class="close">关闭</a></h1>
    <div class="popup_body">
      <%= form_tag store_materials_url(params[:store_id]), :id => "ruku_tab_form" do |f| %>
          <div class="popup_body_area">
            <div class="item">
              <%= label_tag "name","物料名称：" %><%= text_field_tag "name" %>
            </div>
            <div class="item">
              <%= label_tag "types","物料类型：" %><%= select(:material,:types,material_types,{:include_blank => false}) %>
            </div>
            <div class="item">
              <%= label_tag "code","订货单号：" %><%= text_field_tag "code" %>
            </div>
            <div class="item">
              <%= label_tag "barcode","条形码：" %><%= text_field_tag "barcode" %>
            </div>
            <div class="item">
              <%= label_tag "price","单价：" %><%= text_field_tag "price" %>
            </div>
            <div class="item">
              <%= label_tag "num","数量：" %><%= text_field_tag "num" %>
            </div>
          </div>
          <div class="btn_box"><button onclick="commit_in()" type="button" class="confirm_btn">确定</button><button type="button" class="cancel_btn">取消</button></div>
          <div class="clear"></div>
      <% end %>
    </div>
  </div>
</div>

<div class="tab_popup chuku_tab" id="chuku_tab">
  <div class="popup_box">
    <h1>出库<a href="#" class="close">关闭</a></h1>
    <%= form_tag out_order_store_materials_url(params[:store_id]), :id => "out_order_form" do |f| %>
        <div class="popup_body">
          <div class="popup_body_area">
            <%= render :partial => "/common/search_panel", :object => @type %>
            <div class="pq pq_mb"></div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_tab_table">
              <thead>
              <tr class="hbg">
                <td>物料名称</td>
                <td>物料类别</td>
                <td>库存量（个）</td>
                <td>出库量（个）</td>
                <td>操作</td>
              </tr>
              </thead>
              <tbody id="selected_materials"></tbody>
            </table>
            <div class="search"><%= hidden_field_tag "selected_items" %>
              <div><%= label_tag "staff","申请人：" %><%= select_tag "staff", options_from_collection_for_select(@staffs,"id","name") %></div>
            </div>
          </div>
          <div class="btn_box"><%= button_to_function "确定","submit_out_order('out_order_form')", :class => "confirm_btn" %>
            <button class="cancel_btn" type="button">取消</button></div>
          <div class="clear"></div>
        </div>
    <% end %>
  </div>
</div>
<div class="tab_popup beizhu_tab" id="order_remark_div">
  <div class="popup_box">
    <h1>备注<a href="#" class="close">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area">
        <%= hidden_field_tag "material_order_id" %>
        <%= text_area_tag "order_remark","",{:rows => 7,:cols => 30, :class => "beizhu_textarea"} %>
      </div>
      <div class="btn_box"><%= button_to_function "确定","save_order_remark()",{:class => "confirm_btn"} %><button class="cancel_btn">取消</button></div>
    </div>
  </div>
</div>
<div class="tab_popup" id="zhifu_tab">
  <div class="popup_box">
    <h1>付款<a href="#" class="close">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area">
      <div class="fukuan_btn">
        <%= hidden_field_tag "pay_order_id","0" %>
        <button class="confirm_btn" type="button" onclick="if(confirm('确认已付款了吗？')){pay_material_order(3,<%= params[:store_id] %>)}">现金</button>
        <span class="zfb" onclick="pay_material_order(1,<%= params[:store_id] %>)"></span>
      </div>
      <div class="clear"></div>
    </div>
      </div>
  </div>
</div>
<%= render :partial => "dinghuo_panel" %>


