订货
<%= form_tag material_order_store_materials_url(params[:store_id]), :id => "order_form" do |f| %>
    <%= label_tag "from","订货渠道" %><%= select_tag "from",options_from_collection_for_select(from_s(params[:store_id]),"id","name"),
                                                 {:onchange => "change_supplier(this)"} %> <br/>
    <%= render :partial => "/common/search_panel", :object => @type %>
    <div>
      <p>条形码&nbsp;&nbsp;物料名称&nbsp;&nbsp;物料类别&nbsp;&nbsp;库存量&nbsp;&nbsp;单价&nbsp;&nbsp;订货量&nbsp;&nbsp;总价&nbsp;&nbsp;操作</p>
      <ul id="selected_materials"></ul>
      <ul id="add_new_materials"></ul>
      <div id="activity_code" style="display: block;">
         <p><%= check_box_tag "use_card",@use_card_count %>本店累计使用储值卡<%= @use_card_count %>元，用来抵货款</p>
        <p><%= check_box_tag "use_code","",false %>使用活动代码<%= text_field_tag "act_code","",{:onblur => "get_act_count(this)"} %><span id="use_code_count"></span></p>
      </div>
      <div id="add_material" style="display: none;">
        <%= link_to_function "添加","add_material(#{params[:store_id]})" %>
      </div>
    </div>
    <p>合计：<span id="total_count">0.0</span>(元)</p>
    <%= hidden_field_tag "selected_items" %>
    <%= button_to_function "确定","submit_material_order('order_form')" %> <%= button_to_function "取消","" %>
<% end %>