<%= stylesheet_link_tag    "application", "style"%>
<%= javascript_include_tag "application", "main"%>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
  <thead>
  <tr class="hbg">
    <td>条形码</td>
    <td>物料名称</td>
    <td>物料类别</td>
    <td>库存状态</td>
    <td>库存量（个）</td>
    <td>成本价（元）</td>
    <td>盘点实数</td>
  </tr>
  </thead>
  <tbody>
  <% (@materials_storages || []).each do |material| %>
      <tr>
        <td><%= material.code %></td>
        <td><%= material.name %></td>
        <td><%= Material::TYPES_NAMES[material.types.to_i] %></td>
        <td><%= material.storage.to_i > 0 ? "存货" : "缺货" %></td>
        <td><%= material.storage.to_i %></td>
        <td><%= material.price %></td>
        <td><%= material.check_num.to_i %></td>
      </tr>
  <% end %>
  </tbody>
</table>