<div class="data_item_title">
  <ul>
    <% @pays.each do |k,v| %>
      <li><%=OrderPayType::PAY_TYPES_NAME[k]%>：<%= v.to_f.round(1) %></li>
    <%end%>
  </ul>
</div>
<% @orders.each do|order| %>
  <div class="data_item_list">
    <div class="di_list_l"><input id="print_<%=order.id%>" type="checkbox" value="<%=order.id%>" /></div>
    <div class="di_list_r">
      <div class="register">
        <div class="orderGoods">
          <div class="pingj">评价：<%= order.is_pleased.nil? ? "--" : Order::IS_PLEASED_NAME[order.is_pleased] %></div>
          <ul>
            <li>单号：<%= order.code %></li>
            <li>付款方式：<%=  if order.status == Order::STATUS[:RETURN]
                "已退单"
              else
                @pay_types[order.id].nil? ? "--"  :
                  @pay_types[order.id].map{|k,v|"#{OrderPayType::PAY_TYPES_NAME[k]}:#{v.to_f.round(1)}"}.join("&nbsp&nbsp&nbsp").html_safe
              end%></li>
          </ul>
        </div>
        <div class="merchant">
          <ul>
            <li><strong>开单时间：</strong><%=order.created_at.nil? ? "--" : order.created_at.strftime("%Y-%m-%d %H:%M")%></li>
            <li><strong>接待员：</strong><%= @staffs[order.front_staff_id] %></li>
            <li><strong>技师：</strong><%=[@staffs[order.cons_staff_id_1],@staffs[order.cons_staff_id_2]].compact.uniq.join("、")%></li>
            <li><strong>工位：</strong><%= @stations[order.s_id].nil? ? "--":@stations[order.s_id] %></li>
            <li><strong>车牌：</strong><%=  order.c_num  %></li>
            <li><strong>客户姓名：</strong><%=order.c_name  %></li>
            <li><strong>手机号码：</strong><%= order.phone %></li>
            <li><strong>单位：</strong><%= order.group_name.nil? ? "--" : order.group_name %></li>
          </ul>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
            <thead>
              <tr class="hbg">
                <td>项目</td>
                <td>数量</td>
                <td>单价</td>
                <td>优惠</td>
                <td>合计</td>
              </tr>
            </thead>
            <tbody>
              <%@order_prods[order.id].each do |prod|%>
                <tr>
                  <td><%= prod.name %></td>
                  <td><%= prod.pro_num %></td>
                  <td><%= prod.price %></td>
                  <% loss = @order_pays[order.id].nil? ? 0 : @order_pays[order.id].to_i  %>
                  <td><%=  loss  %></td>
                  <%  fact = order.price>loss ? order.price-loss : 0%>
                  <td><%= fact %></td>
                </tr>
              <% end if @order_prods[order.id] %>
            </tbody>
          </table>
          <div class="accounts">
            <ul><li>总计：<%= order.price %></li></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="pageTurn">
  <%= will_paginate @orders,:class=>"pageTurn",:previous_label=>"上一页",:next_label=>"下一页" unless  @orders.blank?%>
</div>
