<div class="data_item_title">
  <ul>
    <li>现金：<%= @pays[OrderPayType::PAY_TYPES[:CASH]].nil? ? 0 : @pays[OrderPayType::PAY_TYPES[:CASH]] %></li>
    <li>储值卡：<%= @pays[OrderPayType::PAY_TYPES[:SV_CARD]].nil? ? 0 : @pays[OrderPayType::PAY_TYPES[:SV_CARD]] %></li>
    <li>刷卡：<%= @pays[OrderPayType::PAY_TYPES[:CREDIT_CARD]].nil? ? 0 : @pays[OrderPayType::PAY_TYPES[:CREDIT_CARD]] %></li>
    <li>免单：<%= @pays[OrderPayType::PAY_TYPES[:IS_FREE]].nil? ? 0 : @pays[OrderPayType::PAY_TYPES[:IS_FREE]] %></li>
  </ul>
</div>
<% @orders.each do|order| %>
  <div class="data_item_list">
    <div class="di_list_l"><input name="" type="checkbox" value="" /></div>
    <div class="di_list_r">
      <div class="register">
        <div class="orderGoods">
          <div class="pingj">评价：<%= Order::IS_PLEASED_NAME[order.is_pleased] %></div>
          <ul>
            <li>单号：<%= order.code %></li>
            <li>付款方式：<%=@pay_types[order.id].nil? ? "--"  : @pay_types[order.id].join("、") %></li>
            <li>流水帐号：123654789</li>
          </ul>
        </div>
        <div class="merchant">
          <ul>
            <li><strong>开单时间：</strong><%=order.created_at.nil? ? "--" : order.created_at.strftime("%Y-%m-%d %H:%M")%></li>
            <li><strong>接待员：</strong><%= @staffs[order.front_staff_id] %></li>
            <li><strong>技师：</strong><%=[@staffs[order.cons_staff_id_1],@staffs[order.cons_staff_id_2]].compact.uniq.join("、")%></li>
            <li><strong>工位：</strong><%= @stations[order.s_id].nil? ? "--":@stations[order.s_id] %></li>
            <li><strong>车牌：</strong><%=  order.c_num  %></li>
            <li><strong>客户姓名：</strong><%=order.c_name  %></li>
            <li><strong>手机号码：</strong><%= order.phone %></li>
            <li><strong>单位：</strong><%= order.group_name.nil? ? "--" : order.group_name %></li>
          </ul>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
            <thead>
              <tr class="hbg">
                <td>项目</td>
                <td>数量</td>
                <td>单价</td>
                <td>折扣</td>
                <td>合计</td>
              </tr>
            </thead>
            <tbody>
              <%@order_prods[order.id].each do |prod|%>
                <tr>
                  <td><%= prod.name %></td>
                  <td><%= prod.pro_num %></td>
                  <td><%= prod.price %></td>
                  <td>0</td>
                  <td><%= prod.pro_num*prod.price %></td>
                </tr>
              <% end if @order_prods[order.id].any? %>
            </tbody>
          </table>
          <div class="accounts">
            <ul>
              <li>总计：<%= order.price %></li>
              <li>客户签名：李四</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="pageTurn">
  <%= will_paginate @orders,:class=>"pageTurn",:previous_label=>"上一页",:next_label=>"下一页" unless  @orders.blank?%>
</div>
