<div class="item">
  <label>相关物料：</label><select  id="prod_material" name="prod_material" onchange="modify_value()">
    <% @materials.each do |material| %>
      <option value="<%= material.id %>" <%  if (@material.nil? ? 0 : @material.material_id) == material.id%> selected<%end%> o_value="<%= "#{material.code}||#{material.storage}||#{material.price}||#{material.sale_price}" %>" ><%= material.name%></option>
    <% end unless @materials.blank?%>
  </select>
</div>
<div class="item">
  <label>名称：</label><input name="name" id="name" type="text" value="<%= @product.name.nil? ? @materials[0].nil? ? "" : @materials[0].name : @product.name  %>" />
</div>
<div class="item">
  <label>条形码：</label><label id="item_txm"><%=@materials[0].nil? ? "" : @materials[0].code  %></label>
</div>
<div class="item">
  <label>库存：</label><label id="item_kc"><%= @materials[0].nil? ? "" : @materials[0].storage %></label>
</div>

<div class="item">
  <label>成本价：</label><input name="t_price" id="t_price" type="text" value="<%= @product.t_price.nil? ? @materials[0].nil? ? "" : @materials[0].price : @product.t_price %>" />
</div>
<div class="item">
  <label>全国零售价：</label><input name="base_price" id="base_price" type="text" value="<%= @product.base_price.nil? ? @materials[0].nil? ? "" : @materials[0].sale_price : @product.base_price %>" />
</div>
<div class="item">
  <label>全国促销价：</label><input name="sale_price" id="sale_price" type="text" value="<%= @product.sale_price %>" />
</div>

<div class="item">
  <label>类别：</label><select  id="prod_types" name="prod_types">
    <% Product::PRODUCT_TYPES.select {|k,v| k < Product::PRODUCT_END}.each do |key,value| %>
      <option value="<%= key %>" <%if @product.types==key%> selected<%end%> ><%= value %></option>
    <% end %>
  </select>
</div>
<div class="seeProDiv">
  <div class="seeProDiv_l">配图：</div>
  <div class="seeProDiv_rWidth">
    <% if @img_urls %>
      <ul class="seeProPic">
        <%@img_urls.each do |url|%>
          <li><img src="<%=url.img_url.nil? ? "" : url.img_url.gsub("img#{@product.id}","img#{@product.id}_#{Constant::P_PICSIZE[0]}") %>" /></li>
        <%end unless @img_urls.blank?%>
      </ul>
    <% end %>
    <a href="javascript:void(0)" class="compile_btn" onclick="before_center('.add_img');">添加图片</a><span>*添加新图片会使已上传图片被删除，请为图片做好备份</span>
  </div>
</div>
<div class="item">
  <label>规格：</label><input name="standard" id="standard" type="text" value="<%= @product.standard %>" />
</div>
<div class="item_textarea">
  <label>简介：</label><textarea name="intro" id="intro" cols="" rows="" class="width_textarea"><%=@product.description  %></textarea>
</div>
<div class="item_textarea">
  <label>描述：</label><textarea  id="add_intro" cols="" rows="" class="width_textarea" style="width:470px"><%=@product.introduction.nil? ? "" : @product.introduction  %></textarea>
  <input type="hidden" name="desc" id="desc" />
</div>
<script type="text/javascript">
  var serv_editor;
  $(function() {
    serv_editor = KindEditor.create('textarea[id="add_intro"]', {
      allowFileManager : true
    });
  });

  function modify_value(){
    var html = $('#prod_material option:selected')
    $('#name').val(html.html());
    $("#item_txm").html(html.attr("o_value").split("||")[0]);
    $("#item_kc").html(html.attr("o_value").split("||")[1]);
    $("#t_price").val(html.attr("o_value").split("||")[2]);
    $("#base_price").val(html.attr("o_value").split("||")[3]);
  }
<%unless @materials.blank?%>
    $("#item_txm").html($('#prod_material option:selected').attr("o_value").split("||")[0]);
    $("#item_kc").html($('#prod_material option:selected').attr("o_value").split("||")[1]);
<% end %>
</script>




