<div class="item">
  <label>名称：</label><input name="name" id="name" type="text" value="<%= @product.name %>" />
</div>
<div class="item">
  <label>全国零售价：</label><input name="base_price" id="base_price" type="text" value="<%= @product.base_price %>" />
</div>
<div class="item">
  <label>全国促销价：</label><input name="sale_price" id="sale_price" type="text" value="<%= @product.sale_price %>" />
</div>
<div class="item">
  <label>类别：</label><select  id="sale_types" name="sale_types">
    <option>请选择</option>
    <% Product::PRODUCT_TYPES.each do |key,value| %>
      <option value="<%= key %>" <%if @product.types==key%> selected<%end%> ><%= value %></option>
    <% end %>
  </select>
</div>
<div class="item">
  <label>配图：</label><input type=file name=j style="display: none;" id="sale_img" onchange="ye.value=value" />
  <input name=ye type="text" class="file"  /><input type="button" class="file_btn" value="浏览" onclick=j.click()  />
</div>
<div class="item">
  <label>规格：</label><input name="standard" id="standard" type="text" value="<%= @product.standard %>" />
</div>
<div class="item_textarea">
  <label>简介：</label><textarea name="desc" id="desc" cols="" rows="" class="width_textarea"><%=@product.introduction  %></textarea>
</div>
<div class="item_textarea">
  <label>描述：</label><textarea name="intro" id="desc" cols="" rows="" class="width_textarea"><%=@product.description  %></textarea>
</div>



