<div class="data_box">
  <div class="data_menu"><%= link_to_function "添加供应商", "add_supplier('#{params[:store_id]}','')", :class => "add_btn" %></div>
  <div class="clear"></div>
  <div class="data_body">
    <div>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
        <thead>
        <tr class="hbg">
          <td>供应商名称</td>
          <td>联系人</td>
          <td>联系电话</td>
          <td>其他联系方式</td>
          <td>公司地址</td>
          <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <% (@suppliers || []).each do |s| %>
            <tr>
              <td><%= s.name %></td>
              <td><%= s.contact %></td>
              <td><%= s.phone %></td>
              <td><%= s.email %></td>
              <td><%= s.address %></td>
              <td><%= link_to "订货",order_store_materials_url(params[:store_id]) %>
                <%= link_to_function "修改","edit_supplier('/stores/#{params[:store_id]}/suppliers/#{s.id}/change','#{s.name}','#{s.contact}','#{s.phone}','#{s.email}','#{s.address}')" %>
                <%= link_to_function "删除","delete_supplier(this,'#{s.id}')" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate @suppliers, :class => "pageTurn", :previous_label => "上一页", :next_label => "下一页" if @suppliers.size > 0 %>
    </div>
  </div>
</div>


<div class="mask"></div>
<div class="tab_popup add_tab" id="add_tab_supplier">
  <div class="popup_box">
    <h1>供应商<a href="#" class="close">关闭</a></h1>
    <div class="popup_body">
      <%= form_tag store_suppliers_url(params[:store_id]), :id => "add_supplier_form" do %>
          <div class="popup_body_area">
            <div class="item">
              <%= label_tag "name", "名称：" %><%= text_field_tag "name" %>
            </div>
            <div class="item">
              <%= label_tag "contact","联系人：" %><%= text_field_tag "contact" %>
            </div>
            <div class="item">
              <%= label_tag "phone","联系电话：" %><%= text_field_tag "phone" %>
            </div>
            <div class="item">
              <%= label_tag "email","其他联系方式：" %><%= text_field_tag "email","QQ/微信/Email" %>
            </div>
            <div class="item_textarea">
              <%= label_tag "address","地址：" %><%= text_area_tag "address","",{:class => "width_textarea"} %>
            </div> <%= hidden_field_tag "s_id" %>
          </div>
          <div class="btn_box"><button type="button" onclick="commit_supplier_form()" class="confirm_btn">确定</button><button type="button" class="cancel_btn">取消</button></div>
          </div>
      <% end %>
      </div>
</div>
