<%= javascript_include_tag "/assets/sales.js" %>
<div class="second_menu"><a href="/stores/<%= params[:store_id] %>/sales" <% if params[:action] == "index"  %> class="hover"<%end%>>活动列表</a>
  <a href="/stores/<%= params[:store_id] %>/sales/new" <% if params[:action] == "new"  %> class="hover"<%end%>>发布活动</a></div>
<div class="clear"></div>
<div class="data_body">
  <div>
    <%= form_for @sale,:url=>"/stores/#{params[:store_id]}/sales/#{params[:id]}/update_sale",:method=>:post,:html=>{:multipart => true,:id=>"one_sale"} do  %>
      <%= render 'form' %>
    <% end %>
  </div>
  <div class="btn_box"><button class="confirm_btn" type="submit" onclick="publish_sale()">发布</button></div>
</div>